- content_for :title, "Parliamentary Research"
- set_meta_tags description: "A guide on how to contribute to #{Settings.project_name} by researching policies and divisions."

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title
      %p.lead
        A guide on how to contribute to #{inline_project_name} by researching policies and divisions.

.row
  .col-md-8
    = render "help/research_copy"
