%h2 How the policy votes
%p
  This is currently your active policy;
  <b>to change its votes, go to the
  %a{:href => "/divisions.php"} division page
  for the vote you want to change</b>.
  You can use the
  %a{:href => "search.php"}
    search
    facility
  to find divisions. If you haven't edited a policy
  before please <a href="/faq.php#policies">read about how policies work</a>.
%h2 Policy title and text
%form{:action => policy_path(@policy, display: "editdefinition"), :method => "post"}
  %p
    %span.ptitle Title:
    %input{:maxlength => "50", :name => "name", :size => "40", :type => "text", :value => @policy.name}/
  %p
    %span.ptitle Text:
    Someone who believes that
    %br/
    %textarea.policytext{:cols => "80", :name => "description", :rows => "2"}
      = @policy.description
    %br/
    would vote according to this policy. (<em>From the text, everyone
    should be able to agree which way the policy votes in each
    division</em>.)
  %p
    %input#provisional{:name => "provisional", :type => "checkbox", :value => "provisional"}/
    %label.ptitle{:for => "provisional"} Provisional policy
    ('provisional' means the
    policy is not yet complete or consistent enough to display on MP
    pages)
  %p
    %input{:name => "submiteditpolicy", :type => "hidden", :value => "Save"}/
    %input{:accesskey => "S", :name => "submitbutton", :type => "submit", :value => "Save title and text"}/
