.policies-list {
  .policy-title {
    font-weight: normal;
    padding-left: 0;

    .policy-details {
      margin-top:7px;
    }
  }

  .policy-detail-large-screen {
    @media (max-width: $screen-md-min) {
      display: none;
    }
  }

  .policy-detail-small-screen{
    @media (min-width: $screen-md-min) {
      display: none;
    }
    &:before {
      content: "\00a0\25CF\00a0";
      color: #aaa;
    }
  }

  .policy-data {
    margin-top: 0;
  }

  .policy-edit-notice {
    &:before {
      content: "\00a0\25CF\00a0";
      color: #aaa;
    }
  }
}
