.policies-list {
  .policy-title {
    font-weight: normal;
    padding-left: 0;
  }

  .policy-subscriber-count {
    padding-left: 0;
    margin-bottom: 0;
  }

  .policy-data {
    margin-top: 0;
  }

  .policy-edit-notice, .object-secondary .policy-subscriber-count {
    &:before {
      content: "\00a0\25CF\00a0";
      color: #aaa;
    }
  }
}
