.policies-list {
  .policy-title {
    font-weight: normal;
    padding-left: 0;
  }

  .policy-division-count {
    margin-top: .5em;
    display: block;

    @media (min-width: $screen-md-min) {
      margin-top: 0;
      display: inline-block;
    }
  }

  .policy-data {
    margin-top: 0;
  }

  .policy-edit-notice {
    &:before {
      content: "\00a0\25CF\00a0";
      color: #aaa;
    }
  }
}
