.policy-comparision-block {
  border-top: 7px solid #ccc;
  padding-bottom: 1em;
  float: none;
  clear: both;
  position: relative;

  .members & {
    margin: 0 -15px;

    .policy-comparision-list {
      margin: 0 -15px;
    }

  }

  @media (min-width: $screen-sm-min) {
    padding-bottom: 2em;
  }

  @media (min-width: $screen-lg-min) {
    padding-bottom: 3em;
  }

  &.position-for3 {
    border-top-color: $color-for3;
    color: $color-for3;
  }

  &.position-for2 {
    border-top-color: $color-for2;
    color: $color-for2;
  }

  &.position-for1 {
    border-top-color: $color-for1;
    color: $color-for1;
  }

  &.position-mixture {
    border-top-color: $color-mixed-position;
    color: $color-mixed-position;
  }

  &.position-against1 {
    border-top-color: $color-against1;
    color: $color-against1;
  }

  &.position-against2 {
    border-top-color: $color-against2;
    color: $color-against2;
  }

  &.position-against3 {
    border-top-color: $color-against3;
    color: $color-against3;
  }

  h2 + & {
    margin-top: 1em;

    @media (min-width: $screen-sm-min) {
      margin-top: 2em;
    }
  }
}

.policy-comparision-position {
  margin-top: 0;
  padding-top: .5em;
  padding-bottom: .25em;
  font-size: 24px;
  font-weight: normal;

  .policies & {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      padding-right: 170px;
    }
  }
}

.policy-comparision-member {
  margin-right: 3px;
  margin-bottom: 6px;
  padding: 0 !important;
  display: inline-block;

  @media (max-width: 20em) {
    width: 30%;
  }

  &:focus {
    outline: 0;
    opacity: .8;
  }
}

.policy-correction-notice {
  padding: 10px 0;
  display: inline-block;
  float: right;
  color: lighten($gray-light, 25%);

  @media (min-width: $screen-sm-min) {
    position: absolute;
    top: 0;
    right: 0;
    float: none;
  }

  .policies & {
    padding: 14px  15px 0 0;
  }
}

.anchor {
  position: absolute;
  margin-left: -24px;
  color: $text-color;
  display: none;

  :hover {
    color: $text-color;
  }
}

*:hover > .anchor {
  display: block;
}

.remove-padding {
  padding: 0px 0px;
}