.org-open-forum {
  background-image: url("/assets/open-forum-logo.png");
}
.org-mysociety {
  background-image: url("/assets/mysociety-logo.png");
}
.org-open-north {
  background-image: url("/assets/open-north-logo.png");
}
.org-data-uruguay {
  background-image: url("/assets/data-logo.png");
}
.org-ciudadano-inteligente {
  background-image: url("/assets/ciudadano-inteligente-logo.jpg");
}
.org-sunlight-foundation {
  background-image: url("/assets/sunlight-foundation-logo.png");
}
.org-civio {
  background-image: url("/assets/civio-logo.png");
}
.org-openpolis {
  background-image: url("/assets/openpolis-logo.png");
}
.org-pmg {
  background-image: url("/assets/pmg-logo.png");
}
.org-regards-citoyens {
  background-image: url("/assets/regards-citoyens-logo.png");
}
// .org-efa {
//   background-image: url("/assets/-logo.png");
// }
