%h2
  %a{:name => "divisions"} All Votes
%p All votes this MP could have attended.

%table.votes
  = render partial: "votes", locals: {member: @member, member2: nil, divisions: @member.divisions_possible.order(division_date: :desc, clock_time: :desc, division_name: :asc), empty_message: "no votes listed"}
