%h2
  %a{:name => "friends"} All Possible Friends
%p
  Shows which
  = members_type(@member.australian_house)
  voted most similarly to this one in the Parliament. This is measured from 0% agreement (never voted
  the same) to 100% (always voted the same). Only votes that both
  = members_type(@member.australian_house)
  attended are counted. This may reveal relationships between
  = members_type(@member.australian_house)
  that were previously unsuspected. Or it may be nonsense.
%table.mps
  %tr.headings
    %td Agreement
    %td Name
    %td
      - if @member.senator?
        State
      - else
        Electorate
    %td Party
  %tr.even
    %td{:colspan => "4"} No results found
