%h2
  %a{:name => "divisions"} Interesting Votes
%p
  Votes in parliament for which this
  - if @member.senator?
    Senator's
  - else
    Representative's
  vote
  differed from the majority vote of their party (Rebel), or in which
  this
  - if @member.senator?
    Senator
  - else
    Representative
  was a teller (Teller), or both (Rebel
  Teller).
%p{:align => "center", :style => "font-size: 89%"}
  See also all votes...
  = link_to "attended", member_path(@member, display: "allvotes", anchor: "divisions")
  |
  = link_to "possible", member_path(@member, display: "everyvote", anchor: "divisions")

= render partial: "votes", locals: { empty_message: "no rebellions, never teller" }