%h2
  %a{:name => "divisions"} Votes Attended
%p{:style => "font-size: 89%"}
  See also
  = link_to "all votes possible", "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives&display=everyvote#divisions"
%table.votes
  %tr.headings
    %td House
    %td Date
    %td Subject
    %td Tony Abbott
    %td Liberal Party Vote
    %td Rôle
  %tr.odd
    %td{:colspan => "7"} no votes listed
