%h1 Voting Record — Tony Abbott MP, Warringah
/ the second tier navigation as tabs
:plain
  <!-- add hashes to $second_links array, keys are
       'href' - URL of link
       'text' - displayed text
       'tooltip' - text to put in title
       'current' - 'on' or 'off' for whether this item is currently selected -->
.secondnavtabs
  %ul
    %li.off
      %a.off{:href => "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives", :title => "Overview of MP"} Summary
    %li.on Votes attended
    %li.off
      %a.off{:href => "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives&display=everyvote", :title => "Show even divisions where the MP was absent, but could have voted"}
        All votes
    %li.off
      %a.off{:href => "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives&display=allfriends", :title => "Show all MPs in order of how similarly to this MP they voted"}
        All
        friends
    %li.off
      %a.off{:href => "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives&display=alldreams", :title => "Show all Policies and how this MP voted on them"}
        Policy
        comparisons
<!-- the second tier navigation as dropdowns end-->
%p
  %em Note:
  our voting records currently only go back to the
  beginning of 2006 for the House of Representatives and the Senate
  (
  %a{:href => "/faq.php#timeperiod"}> more details
  ).
%table
  %tr.headings
    %td From
    %td To
    %td Party
    %td
      Rebellions (
      %a{:href => "faq.php#clarify"}> explain...
      )
    %td
      Attendance (
      %a{:href => "faq.php#clarify"}> explain...
      )
    %td Teller
  %tr.odd
    %td 1&nbsp;Jan&nbsp;2006
    %td still in office
    %td Liberal Party
    %td.percent 0 votes out of 0
    %td.percent
      0 votes out of 1,
      %b 0.0%
    %td 0 times
%h2
  %a{:name => "exlinks"} External Links
%ul
  %li
    See
    = succeed "'s" do
      %strong Tony Abbott
    Parliamentary speeches at:
    %a{:href => "http://www.openaustralia.org/mp/?m=1"} OpenAustralia.org
%h2
  %a{:name => "divisions"} Votes Attended
%p{:style => "font-size: 89%"}
  See also
  %a{:href => "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives&display=everyvote#divisions"}
    all votes possible
%table.votes
  %tr.headings
    %td House
    %td Date
    %td Subject
    %td Tony Abbott
    %td Liberal Party Vote
    %td Rôle
  %tr.odd
    %td{:colspan => "7"} no votes listed
