<h1>Representatives &#8212; Current</h1>

<p>
  Members of the House of Representatives are listed below. Refer to <a href="faq.php#clarify">this explanation</a> of the
  "rebellion" and "attendance" rates, as they may not mean what you
  think they do.
</p>

<p style="font-size: 89%" align="center">
  Sort by:
  <b>Name</b>
  |
  <a href="mps.php?sort=constituency" alt="Sort by constituency">Constituency</a>
  |
  <a href="mps.php?sort=party" alt="Sort by party">Party</a>
  |
  <a href="mps.php?sort=rebellions" alt="Sort by rebels">Rebellions</a>
  |
  <a href="mps.php?sort=attendance" alt="Sort by attendance">Attendance</a>

<table class="mps">
  <tr class="headings">
    <td>Name</td>
    <td>Electorate</td>
    <td>Party</td>
    <td>
      Rebellions<br>
      (<a href="/faq.php#clarify">explain...</a>)
    </td>
    <td>
      Attendance<br>
      (<a href="/faq.php#clarify">explain...</a>)
    </td>
  </tr>
  <tr class="odd">
    <td><a href="mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives"> Tony Abbott</a></td>
    <td><a href="mp.php?mpc=Warringah">Warringah</a></td><td>Liberal Party</td>
    <td class="percent">n/a</td>
    <td class="percent">0.0%</td>
  </tr>
</table>