- content_for :title, 'Representative or Senator not found'
%h1= yield :title

No Representative or Senator found. If you entered a postcode, please make
sure it is correct.  Or you can <a href="/mps.php">browse
all Representatives</a> or <a href="/mps.php?house=senate">browse all Senators</a>.
