.members-list {
  .member-photo {
    max-width: 44px;
  }

  .member-name {
    font-size: $font-size-h4;
  }

  .member-no-photo .media-body {
    padding-left: 54px;
  }

  .member-party,
  .member-electorate {
    display: block;

    @media (min-width: 30em) {
      display: inline;
    }

    a {
    }
  }
}
