.page-header {
  .member-role {
    margin-bottom: 0;
  }

  .member-period {
    display: block;
    text-transform: capitalize;
    // font-weight: normal;
    font-size: 18px;
    color: $gray;

    @media (min-width: $screen-md-min) {
      display: inline-block;
      text-transform: none;
    }
  }
}

.members .page-header {
  h1 {
    @media (max-width: 40em) {
      font-size: 30px;
    }
  }

  .media .pull-left {
    padding: 0;
    margin-right: 15px;
  }

  .object-data-rebellion small,
  .object-data-attendance small {
    white-space: nowrap;
  }

  .member-speeches-link {
    padding-left: 2em;
    background-repeat: no-repeat;
    background-position: left center;
    // TOTO: get grunticon setup so this falls back nicely
    background-image: url(image-path("speech.svg"));
  }
}

.member-description {
  h2 {
    font-size: 27px;
  }
}
