.page-header {
  .member-role {
    margin-bottom: 0;
  }

  .member-period {
    display: block;
    text-transform: capitalize;
    // font-weight: normal;
    font-size: 18px;
    color: $gray;

    @media (min-width: $screen-md-min) {
      display: inline-block;
      text-transform: none;
    }
  }
}

.members .page-header {
  h1 {
    @media (max-width: 40em) {
      font-size: 30px;
    }
  }
}
