%h2 How do their votes on policies compare?
%p
  Policies are groups of votes related to an issue. Here we only show policies related to divisions in which both
  people voted and neither are characterised as
  = quote(category_words_sentence(:not_enough))
