- content_for :title, 'Make a new policy'

%h1= yield :title
%p
  Here you have to name and describe the policy. Afterwards, you
  will be able to select which votes support the policy. The new
  policy can represent anything you like. Some examples:
%ul
  %li Equal laws for heterosexuals and homosexuals.
  %li For offshore processing of arrivals by boat.
  %li Pro-nuclear power.
%p
  All policies are public. Just because you made a policy does not
  mean you own it. Anybody can edit it. Although everyone will by no
  means agree with every policy, they should agree that its votes in
  divisions are logical consequences of its definition.
%p Some other things to note about policies:
%ul
  %li
    Policies should be open to as little interpretation as
    possible. For example, "Evangelical Christian" and "Fiscal
    Responsibility" are not policies since there are differing opinions
    about what would be implemented. Instead, things like "Ban research
    using embryos" and "Buy more nuclear weapons" are policies because,
    even if you don't agree with them, you can still agree on which way
    they would vote.
  %li
    Usually a policy can't be broken down into other policies. If
    it can be, maybe you should split it into two sub-policies. There
    are exceptions, for example "Pro-vegetarianism" may agree with all
    the votes for "Conserve coastal fish stocks" although for quite
    different reasons.
  %li
    The opposite of a policy is not necessarily a policy,
    particularly if it is not one of the extremes. There could be, for
    instance, three different approaches to solving a particular
    problem.
  / TODO: Provide a specific Australian example
  %li
    All policies must be convertable into votes. So, for example,
    "Make Australia a Republic" doesn't work because there haven't been
    any such votes (recently).
  %li
    Don't be shy. These policies belong to everyone. If you have a
    point of view that a policy is wrongly voting, or it's ill-defined,
    or you can see how it should be broken down, discuss it with others
    and fix it.
%form{:action => "", :method => "post"}
  %b Title of policy
  %br/
  %input{:maxlength => "50", :name => "name", :size => "40", :type => "text", :value => ""}/
  %p
    %b Someone who believes that...
    %br/
    %textarea{:cols => "80", :name => "description", :rows => "6"}
  %p
    %span.ptitle Privacy notes:
    By creating a policy
    you are making your user name
    %b henare
    and the policy's voting
    record public.
  %p
    %input{:name => "submit", :type => "submit", :value => "Make Policy"}/
