- content_for :title, 'Change password'

%h1 Change password

- if flash[:error]
  .error
    %h2 Password not changed
    %p= flash[:error]
- if flash[:notice]
  %p= flash[:notice]

- if user_signed_in?
  %p
    Want a more memorable password? Quickly fill in this info and
    your password will be changed.
  %form{:action => "", :method => "post"}
    %b User name:
    %br/
    %input{:maxlength => "15", :name => "change_user_name", :size => "40", :type => "text", :value => current_user.user_name}/
    %p
      %b OLD Password:
      %br/
      %input{:maxlength => "15", :name => "old_password", :size => "40", :type => "password", :value => ""}/
    %p
      %b NEW Password:
      %br/
      %input{:maxlength => "15", :name => "new_password1", :size => "40", :type => "password", :value => ""}/
    %p
      %b NEW Password (again):
      %br/
      %input{:maxlength => "15", :name => "new_password2", :size => "40", :type => "password", :value => ""}/
    %p
      %input{:name => "submit", :type => "submit", :value => "Change My Password"}/
- else
  %p
    %a{:href => "settings.php"} Log in first
    before changing
    password.
