- content_for :title, 'Login to Public Whip'
- content_for :on_load, "givefocus('user_name')"

%h1= yield :title
%p
  Enter your user name and password and we'll set a cookie so we
  know you're logged in.
%p
  Not got a login?
  <a href="/account/register.php?r=%2Faccount%2Fsettings.php">Register a new account</a>.<br>
  Lost your password?
  <a href="lostpass.php">Reset your password here</a>.
%form{:action => "", :method => "post", :name => "pw"}
  %b User name:
  %br/
  %input#user_name{:maxlength => "15", :name => "user_name", :size => "15", :type => "text", :value => ""}/
  %p
    %b Password:
    %br/
    %input{:maxlength => "15", :name => "password", :size => "15", :type => "password", :value => ""}/
  %p
    %input{:name => "submit", :type => "submit", :value => "Login to Public Whip"}/
