%p
  "Attendance" figures record the politicians who vote in
  any given division.
%p
  There are several reasons why a politician may have low
  attendance figures. For example, they may have abstained, have
  ministerial or other duties or they may be the speaker. Currently,
  the Public Whip does not record if a member spoke in the debate but
  did not vote.
%p
  "Rebellion" figures record the number of rebel votes
  (see #{link_to "What are “Rebel Voters” and what is a “Conscience Vote” or “Free Vote”?", "#rebelandfree"}).
