%p
  You can contact us via email at
  %a{:href => "mailto:contact@openaustralia.org"} contact@openaustralia.org
  or our #{link_to "Twitter account", "http://twitter.com/openaustralia"}.
%p
  Please contact us if you find an error, have a suggestion or
  have any questions.
