%p
  Yes! We're looking for people who are interested in making the
  voting records more accessible as well as people with particular
  skill-sets that they feel they could contribute. If this sounds
  like you, please email us at
  = succeed "." do
    %a{:href => "mailto:contact@openaustralia.org"} contact@openaustralia.org
