%p
  To the extent which we have rights to this database of
  politicians’ voting records and related information, it is licensed
  under the #{link_to "Open Data Commons Open Database License", "http://opendatacommons.org/licenses/odbl/"}.
  This is an attribution,
  share-alike licence. That means that you must credit the Public
  Whip, for example via a link, if you use the data. It also means
  that if you build on this data, you must also share the result
  under a compatible open data licence.
