%p
  You can use the information freely so long as you credit the
  Public Whip and share it (see #{link_to "What licence is the data under?", "#datalicence"}).
  However, you should double check the
  information to make sure it is correct. If you find an error,
  please
  %a{:href => "#contact"} contact us
  and let us know.
