%p
  Public Whip in Australia was started and is run by the
  #{link_to "OpenAustralia Foundation", "https://www.openaustraliafoundation.org.au/"},
  a charity. It is based on the
  %a{:href => "http://www.publicwhip.org.uk/"} UK Public Whip site
  which was
  created by
  %a{:href => "http://www.flourish.org/"} Francis Irving
  and
  %a{:href => "http://www.goatchurch.org.uk/"} Julian Todd
  in
  2003.
