%p
  An MP or Senator rebels by voting against the #{link_to "party whip", "http://www.peo.gov.au/learning/fact-sheets/party-whip.html"}.
  This is known as #{link_to "crossing the floor", "http://www.peo.gov.au/learning/fact-sheets/crossing-the-floor.html"}   and rarely occurs these days.
%p
  In contrast, a
  %a{:href => "http://en.wikipedia.org/wiki/Conscience_vote"} conscience vote
  (also known as a free vote) occurs when MPs
  or Senators are not obliged to vote with their party. Conscience votes
  are rare. For example, between 1950 and 2007
  = link_to 'only 32 conscience votes', 'http://www.aph.gov.au/About_Parliament/Parliamentary_Departments/Parliamentary_Library/pubs/rp/rp0809/09rp20#_Toc221347466'
  took place. More recently in 2012 and 2013, the legislation related
  to same sex marriage #{link_to 'was decided by conscience vote', policy_path(id: 1)}.
