%p
  When you click on a link for a #{link_to "division", divisions_path},
  you will be taken to a summary that
  will either contain an edited description of the division or text
  taken automatically from the official record of Parliament (known
  as Hansard). In some cases, the summary will contain no text.
%p
  Currently, the divisions with edited summaries are those that
  are relevant to one of the #{link_to "Policies", policies_path}.
  See our #{link_to "Research", help_research_path}
  page to find out more about how the summaries are edited.
