%p
  Public Whip is a project to track the voting patterns of
  Australian federal politicians. We're an independent,
  non-governmental project of the
  charity #{link_to "OpenAustralia Foundation", "https://www.openaustraliafoundation.org.au/"}.
