#divQuizResults 
{
    position:relative;
    width:780px;
    margin:0 auto;
    border:solid 1px #003300;
    padding:0;
    background: white url(/quiz/quizcross.gif) no-repeat 0 33px;
    font-family: "Gill Sans MT"  "Trebuchet MS", "Bitstream Vera Sans", Verdana;
    text-align:left;
    font-size:13px; 
    text-align:justify;
}
#divQuizResults h1#th1 {height:42px; background: #003300  url(/quiz/quizpublicwhip.gif) no-repeat;padding:0; margin:0;}
#divQuizResults h2#howtheyvoted {height:78px;background:url(/quiz/quizformtop.gif) no-repeat 6px 0;
    color:#37a44a;font-size:30px;text-align:right;padding:0 2% 0 0;margin:0;}
#divQuizResults h3#th3 {position:absolute;top:80px; right:2%;margin:0;color:#37a44a}
#divQuizResults h4#th4 {position:absolute;top:100px;right:2%;color:#b9b601;margin:0;font-size:20px;text-align:right;}

#divmain
{
    position:relative;
    width:780px;
    margin:0 auto;
    Zborder:solid 1px #003300;
    padding:0;
    background: white url(/quiz/quizcross.gif) no-repeat 0 33px;
    font-family: "Gill Sans MT"  "Trebuchet MS", "Bitstream Vera Sans", Verdana;
    text-align:left;
    font-size:12pt; 
    margin-left:5px;
    margin-right:5px;
}


#divcrewebyelection 
{
    height:40em;
}
#divcrewebyelection h1#th1 { background: #003300;padding:0; margin:0;}
#divcrewebyelection h2#howtheyvoted {height:78px;background:url(/quiz/quizformtop.gif) no-repeat 6px 0;
    color:#37a44a;font-size:30px;text-align:right;padding-top:30;margin:0;}
#divcrewebyelection h3#th3 {position:absolute;top:80px; right:2%;margin:0;color:#37a44a}
#divcrewebyelection h4#th4a 
{
        color:#399611;
        margin-top:10px;
        font-size:35px;
        margin-bottom:5px;
        text-align:center;
}
#divcrewebyelection h4#th4b 
{
        color:#297611;
        margin-top:7px;
        font-size:30px;
        margin-bottom:5px;
        text-align:center;
        font-style: italic;
}
#divcrewebyelection h4#th4c 
{
        color:#399611;
        margin-top:7px;
        font-size:25px;
        margin-bottom:16px;
        text-align:center;
}

div.frontpostcodesec 
{ 
    text-align: left; 
    border: thin black solid; 
    width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 10px; 
    margin-top:10px; 
    background-color: #beffbe;
    font-size:20px;
}
div#checkmpbutton 
{ 
    font-size: 200%; 
    text-align:center; 
    margin:20px;
}



a img
{
    border:none;
}

a.start
{
    color: #0000d0;
    text-decoration:underline;
}
table.elecalc
{
    border-collapse: collapse;
    background-color: #e9e9e9;
    border: thin black solid;
    margin-bottom:20px;
    margin-top:5px;
}
table.elecalc a
{
    color: #000090;
}
table.elecalc a:hover, a.start:hover, div#divcrewebyelection a:hover, a.ss:hover, a.st:hover
{
    background-color:yellow;
}


table.elecalc td
{
    border-left: thin black solid;
    Zborder-bottom: thin green solid;
}

table.elecalc td.mpcol
{
    Zborder-top: 2px red solid;
    zborder-bottom: 2px red solid;
}

table.elecalc th.issue
{
    background-color: #b9b601;
}
td.selerowc
{
    border-top: 3px #050565 solid;
    padding:0;
    margin:0;
    Zpadding-left: 20px;
    Zbackground-color: red;
    Zvertical-align:top;
}

tr.issuerow-top td
{
    border-bottom: none;
    padding:2px;
}
tr.issuerow-middle td
{
    border-bottom-color: none;
    border-bottom-color: none;
    padding:2px;
}
tr.issuerow-bottom td
{
    border-top-color: none;
    padding:2px;
}


tr.candidaterow td
{
    Zborder-right-color: gray;
    Zpadding: 4px #b9b601 solid;
    border-right-width: 5px;
    border-top: 2px black solid;
}

tr.agreementrow2 td
{
    border-top: 6px blue solid;
    background-color: #b9b601;
}
tr.agreementrow td
{
    background-color: #d9d6e1;
}
tr.candidaterow td
{
    background-color: #eeffee;
}

div.usecpol
{
    margin-top:5em;
}

div.partyscores
{
    clear:both; 
    margin-top: 5em; 
    text-align: center; 
}
div.partyscores table
{
    border: thick blue dashed; 
    text-align: center; 
    width:80%; 
    margin-left:auto; 
    margin-right:auto; 
}

div#uploadop
{
    background-color: #dfbccc;
    float:right;
    margin-left:1em;
    Zmargin-top:2em;
}
div#uploadop caption
{
    background-color: black;
    color:white;
}

tr.candidaterow div.myrankcol
{
    background-color: #f9f986;
    width:100%;
    height:100%;
    border: 5px;
    padding: 5px;
}

a.seliss:hover
{
    background-color:yellow;
}

div.sissues
{
    border: thick red solid;
}
div.sissuecol1
{
    position:absolute;
    width:50%;
}
div.sissuecol2
{
    width:50%;
    padding-left:50%;
}
div.sissue
{
    Zbackground-color: red;
    Zborder: thin #a0a0ff solid;
    padding: 0px;
    margin-top: 3px;
    width:100%;
}
div.sissues td
{
    vertical-align:top;
}

ul.newsart
{
    font-size:14pt;
    Zpadding-left:16px;
    font-family: "Times New Roman";
    
    list-style:none;
    background-color:#d9f9e9;
    clear:both;
}
ul.newsart li
{
    Zlist-style:none;
}
div.newsart
{
    font-size:14pt;
    font-family: "Times New Roman";
    background-color:#d9f9e9;
    clear:both;
    height:14em;
    Zmax-height:15em;
    overflow:scroll;
    border: thin #a9d9d9 solid;
    margin-left:20px; 
}
div.newsart ul
{
    Zpadding:0px;
    margin:0px;;
}
div.newsart li
{
    Zlist-style:none;
}
div.newsart p.summ
{
    padding-left:20px;
}



a.shownews
{
    border-bottom: thin blue dotted;
    padding-bottom: 0px;
    color: blue;
    font-style: italic;
    cursor:hand;
}

table.candidatetable
{
    margin-left: 10px;
    background-color: #deeed5;
    border:thin black solid;
}
table.candidatetable td
{
    padding:1px;
    text-align:center;
    background-color:#c8c8c8;
}
table.candidatetable th
{
    padding:1px;
    text-align:center;
    background-color:#b8c8b8;
}

table.candidatetable caption
{
    Dmargin-left: 10px;
    font-style: italic;
    background-color:#335533;
    color:white;
    font-size:14pt;
}
caption a
{
    font-size:8pt;
    color:#e0e0ff;
}

p.seclinks
{
    font-size:20pt;
    text-align:left;
    margin-top:10px;
    margin-left:0px;
    Zclear:both;
}
p.seclinks a.ss
{
    font-size:14pt;
    margin-left:15px;
    vertical-align:bottom;
}
p.seclinks a.st
{
    border: thin yellow solid;
    Zbackground-color:#ffffa8;
}

p
{
    margin-bottom:5px;
    margin-top:0;
}

div.secpol
{
    height:40em;
    clear:both;
}
div.secpolprint
{
    clear:both; 
}
div.secpol h2
{
    padding-top:5px;
    color: #005600;
    margin-bottom:5px;
}

td.elerowtd
{
    width:25%;
    background-repeat:no-repeat;
    background-position: top right;
}
table.elecalc-single
{
    width:50%;
    float:right;
    border: thin black solid;
    padding-left:10px;
}
table.elecalc-print
{
    width:70%;
    float:right;
    border: thin black solid;
    padding-left:10px;
}

div.sissue
{
    text-align:left;
}
div.sissue p.sel
{
    background-color:#e0e0e0;
    border: thin #b0b0f0 solid;
    font-size:14pt;
    margin-left:20px;
    padding-left:5px;
}
div.sissue select
{
    font-size:16pt;
    font-family: "Courier";
    Dfont-style:italic; 
    font-weight:bold;
}
div.sissue option
{
    color: black; 
}
div.sissue em
{
    font-style:normal;
}

div.sissueprint
{
    font-size:12pt; 
}
div.sissueprint em
{
    font-weight:bold;
    font-style: normal; 
}

div#sec-upload input
{
    font-size:16pt;
}
h2#frant
{
    padding-top:5em;
}
div.footq
{
    background-color:#335533;
    color:white;
    text-align:center;
    clear:both;
}
div.footq a
{
    color:white;
    margin-left:2em;
}

div.usecpol li
{
    background-color:#aaffaa; 
    border: thin black solid; 
    margin:10px; 
    padding:3px;
    font-size:120%;
}
p.empara
{
    font-size:120%;
    font-style: italic;
    color:red;
    Zbackground-color:#ffbbcc; 
}

td.tds
{
    text-align:center;
    background-repeat:no-repeat;
}

td.LDem
{
    background-color:yellow;
}
td.Lab
{
    background-color:red;
}
td.Con
{
    background-color:blue; 
}
td.SNP
{
    background-color:#ffff60; 
}
td.incumbant
{
    background-color:white; 
}


