/* Quiz */
body{text-align:center;}
#frmHowToVote {position:relative;margin: 0 auto;width:404px; text-align:left;
				background: white url(/quiz/quizcross.gif) no-repeat 0 33px;border:solid 1px #003300;}
#frmHowToVote ,#frmHowToVote input, #frmHowToVote select {color:#003300;font-family: "Gill Sans MT"  "Trebuchet MS", "Bitstream Vera Sans", Verdana;
															font-size:13px;}

#frmHowToVote h1 a {display:block;height:42px; width:404px;background:url(/quiz/quizpublicwhip.gif) no-repeat;padding:0; margin:0;}
#frmHowToVote h1 {padding:0; margin:0;}
#frmHowToVote h2 {height:78px;background:url(/quiz/quizformtop.gif) no-repeat 6px 0;
	color:#37a44a;font-size:30px;text-align:right;padding:0px 10px;margin:0;}
#frmHowToVote h3 {position:absolute;top:80px;right:14px;margin:0;color:#37a44a} 
#frmHowToVote h4 {position:absolute;top:102px;right:16px;color:#b9b601;margin:0;font-size:20px;text-align:right;}

#frmHowToVote p {padding:5px 24px ;}
p.error {background:#de6a5b;color:White;}
#frmHowToVote strong {color:#b9b601;}

#olQuiz {margin:20px 5px 5px 0;padding-left:35px;}
#olQuiz p {padding:0;margin:4px 0 4px 0;}
#olQuiz li {padding:4px 0;}
#ulQuestions {list-style-type:none;padding:0px;margin:0;}
#ulQuestions li {padding:1px 0;}
#ulQuestions li select {margin:0 2px;}

/* #button {position:absolute; right:12px; bottom:4px; font-size:20px!important;} */
div#submit {text-align: right; margin-right: 12px; margin-bottom: 4px; }
#button {font-size:20px!important;}
#pPoweredBy {margin:20px 0 0 0;color:#d0d0d0;}
#frmHowToVote a {color:#d0d0d0;text-decoration:none;}
#frmHowToVote a:hover {color:b9b601;}
.fir {display:none;}

/* Results */
#divQuizResults {position:relative;width:780px;margin:0 auto;border:solid 1px #003300;padding:0;background: white url(/quiz/quizcross.gif) no-repeat 0 33px;
	font-family: "Gill Sans MT"  "Trebuchet MS", "Bitstream Vera Sans", Verdana;text-align:left;font-size:13px; text-align:justify;}
#divQuizResults a {color:#b9b601;text-decoration:none;}
#divQuizResults a:hover {color:#b9b601;}

#divQuizResults p {padding:0 2%;margin:0;}
#divQuizResults p.advice {font-size:25px;margin-top:16px}
#divQuizResults p.links {padding-top:4px;}
#divQuizResults label {width:120px;padding-left:8px;display:block;float:left;}
#divQuizResults h1 {height:42px; background: #003300  url(/quiz/quizpublicwhip.gif) no-repeat;padding:0; margin:0;}
#divQuizResults h2 {height:78px;background:url(/quiz/quizformtop.gif) no-repeat 6px 0;
	color:#37a44a;font-size:30px;text-align:right;padding:0 2% 0 0;margin:0;}
#divQuizResults h3 {position:absolute;top:80px; right:2%;margin:0;color:#37a44a} 
#divQuizResults h4 {position:absolute;top:100px;right:2%;color:#b9b601;margin:0;font-size:20px;text-align:right;}

#howtovotefriends {float:center;background:#ebf6ed;width:300px;padding:10px;margin: 10px 10px 10px 10px;border:solid 1px #000000;text-align: left;} 
#divQuizResults h5 {color:#b9b601;margin:0;font-size:20px;margin:2%;}
#tblResult {font-size:12px!important;margin:20px;text-align:left; border-collapse:collapse;border-bottom:solid 1px #003300;}
#tblResult th {border-bottom:solid 1px #003300;border-top:solid 1px #003300;}
#tblResult tr.even td {background-color:#ebf6ed;}
#tblResult tr.last td {font-weight:bold;}
