- content_for :title, 'Confirm your email address'

%h1.long-title= 'Thanks for signing up. Now check your inbox for our confirmation email.'

%p Please jump over to your email inbox and click the link in the email we've just sent through with the subject “confirm your email address”.
