- content_for :title, @user.name

%h2
  Policies which
  = @you ? "you" : @user.name
  made

%ul
- @user.policies.each do |policy|
  %li
    = link_to policy.name, policy
    (#{policy.status})

- if @you
  %p
    (
    = link_to "make a new policy", new_policy_path
    )
