- content_for :title, @user.name

%h2
  - if @you
    Your recent contributions
  - else
    Recent contributions by
    = @user.name

- if !@you && @user.staff
  %p
    = @user.name
    is an OpenAustralia Foundation staff member

- if @history.empty?
  %p No contributions… yet :)
- else
  = render partial: "layouts/history_list", locals: { policy: @policy, history: @history }

%p See other #{link_to "recent changes", history_path}.
