- content_for :title, 'Welcome'

.thin-page
  %h1= yield :title

  %p You’ve successfully created an account! Fantastic to have you on board.

  %p
    One good way to get started is to keep an eye on the policies you’re interested in. Select a policy from the policies page, enter the policy and then hit the ”Subscribe” button to get email notifications when someone edits the policy or it’s related divisions.

  %p
    = link_to "Go to the policies page.", policies_path

  %p You can also:

  %ul
    %li
      Add new
      = link_to "policies", policies_path
      and connect policies to the divisions that relate to them
    %li
      Help expand the resource by summarising
      = link_to "divisions", divisions_path
      and improving existing summaries
