- content_for :title, 'Welcome'

.thin-page
  %h1.long-title= yield :title

  %p You’ve successfully created an account. Now you can:

  %ul
    %li
      Add new
      = link_to "policies", policies_path
      and connect policies to the divisions that relate to them;
    %li
      Help expand the resource by summarising
      = link_to "divisions", divisions_path
      and improving existing summaries; and
    %li
      Subscribe to the
      = link_to "policies", policies_path
      that interest you to get updates when they are edited or new votes are added to them.
