- unless division.policies.empty?
  %ul.division-policies-list.list-unstyled
    - division.policies.order(:name).each do |policy|
      %li.division-policy
        %p.division-policy-statement
          People who are
          = link_to policy.name_with_for, policy
          - if policy.provisional?
            %em (draft)
          would have
          %span.division-policy-statement-vote{class: "voted-" + PolicyDivision.vote_without_strong(division.policy_division(policy).vote).downcase}
            voted
            = vote_display PolicyDivision.vote_without_strong(division.policy_division(policy).vote)

- if policy(PolicyDivision).new?
  = link_to("#{division.policies.empty? ? 'Does this division relate to a policy?' : 'Add or update related policies'}", division_policies_path(division.url_params), class: "small division-related-policies-edit-link", title: "Show or change the polices which vote on this division")
