%ul.division-policies-list
  - @division.policies.order(:name).each do |policy|
    %li.division-policy
      %p.division-policy-statement
        People who are
        - # TODO remove this downcase, it shouldn't be needed
        = link_to policy.name.downcase, policy
        - if policy.provisional?
          %em (provisional)
        would have voted '#{simple_vote_display @division.policy_vote(policy)}'

      - if @display == "policies" && user_signed_in?
        = button_to 'remove', destroy_policy_division_path(division_params(@division).merge(policy_id: policy)), method: :delete, class: 'btn btn-sm btn-link'

- if @display != "policies"
  = link_to("Edit related policies", division_policies_path(division_params(@division)), title: "Show or change the polices which vote on this division")
