- if divisions.to_a.empty?
  %p No votes listed
- else
  %ol.divisions-list.list-unstyled{class: active_house_for_list_class(@house)}
    = render partial: 'divisions/division', collection: divisions
