-# Don't include this parameter when we generate URLs if it's been removed by the controller
- params.delete :rdisplay2 if rdisplay2.nil?

%form.form-inline{:action => redirect_path, :method => "post", :name => "secondnav"}
  %select.form-control#r{:name => "r"}
    - Parliament.all.each do |id, details|
      %option{:selected => (rdisplay == id), :value => divisions_path(params.merge(rdisplay: (id == "2013" ? nil : id)))}= details[:name]
    %option{:selected => (rdisplay == "all"), :value => divisions_path(params.merge(rdisplay: "all"))} All Parliaments

  -# Only currently showing this when we're only looking at a single house. Doesn't seem right
  - if parties
    %select.form-control#r3{:name => "r3"}
      %option{:selected => (rdisplay2.nil?), :value => divisions_path(params.merge(rdisplay2: nil))} All Divisions
      - parties.each do |party|
        - long_name = Party.long_name(party)
        - if !Party.whipless?(party)
          %option{:selected => (rdisplay2 == "#{party}_party"), :value => divisions_path(params.merge(rdisplay2: "#{party}_party"))}= long_name

  %input.btn.btn-default{:name => "submit", :type => "submit", :value => "Go"}/
