- if @divisions.to_a.empty?
  %p No votes listed
- else
  %ol.divisions-list.list-unstyled{class: active_house_for_list_class(@house)}
    - @divisions.each do |division|
      %li= render 'division', division: division
