%nav.division-external-links.page-section
  %h2.h5 Додаткові посилання
  %ul.list-unstyled.object-list-compact
    %li.object-item= link_to "Електронний протокол засідання ВРУ", division.debate_url, title: "Посилання на стенограму пленарного засідання на сайті ВРУ rada.gov.ua"
    - division.bills.each do |bill|
      %li.object-item= link_to bill.title, bill.url
