- content_for :title do
  = truncate(division.name, length: 180)

.page-header.division-header.row
  %nav.header-actions.col-md-1.col-lg-2
    - if policy(division).edit?
      = link_to "Edit", edit_division_path_simple(division), title: "Change title and summary of this division", class: "link-division-edit btn btn-default btn-xs"

  %h1.division-title.col-md-11.col-lg-10.long-title
    %small.pre-title= division_date_and_time(division) + " – " + division.house_name
    = link_to_unless_current yield(:title), division_path_simple(division)
