- content_for :title do
  = truncate(division.name, length: 180)

.page-header.division-header
  %h1.division-title
    %small.pre-title= division_date_and_time(division) + " – " + division.australian_house_name
    = link_to_if @display == 'policies', yield(:title), division
