- if division.edited?
  %section.motion.page-section.col-md-8.col-lg-7{class: division.edited? ? "motion-edited" : "motion-raw collapse"}
    - if division.edited?
      %h2.motion-title Summary
      = link_to "Edit", edit_division_path(division), title: "Edit and improve this description", class: "division-edit-link btn btn-link btn-xs"
    .motion-text
      = division.formatted_motion_text
- else
  %p.division-edit-notice.alert.alert-warning.page-section.clearfix.col-sm-7

    This division is yet to be summarised. Parliament does not provide a clear explanation of what the vote was about.
    = link_to "Improve this page for everyone by providing a summary of what happened.", edit_division_path(division)



