%section.motion.clearfix{class: division.edited? ? "motion-edited" : "motion-raw"}
  - if !division.edited?
    %p.division-edit-notice.alert-warning.col-md-12
      %strong Unedited text
      automatically extracted from the debate.
      = link_to "Improve the page providing a summary.", edit_division_path(division)

  %h2.motion-title Summary
  = link_to "Edit summary", edit_division_path(division), title: "Edit and improve this description", class: "division-edit-link btn btn-default btn-xs"
  .motion-text.col-md-8.row
    = division.formatted_motion_text
  %nav.motion-source-info
    %ul.list-inline.nav.nav-pills
      %li= link_to "Debate in Parliament", division.oa_debate_url, title: "Links to debate shown at www.openaustralia.org", class: "text-muted"
