%p
  Sort by:
  = sort_link_division("name", "Name", sort)
  -# For senate hide this to match php app
  -# This isn't actually desired so change this
  - if house == "representatives"
    |
    = sort_link_division("constituency", "Constituency", sort)
  |
  = sort_link_division(nil, "Party", sort)
  |
  = sort_link_division("vote", "Vote", sort)
