- content_for :title, 'Division not found'
%h1= yield :title

No Division found. If you entered a date, please make
sure it is in the right format (YYYY-MM-DD).  Or you can
#{link_to "browse all divisions", divisions_path}.
