- if @division.edited?
  - content_for :history_notice do
    =render "layouts/history_notice", division: @division

= render "header", division: @division
= render "motion", division: @division
= render "summary", division: @division, member: @member, members: @members

- if @division.policies
  %h2.h4 Related Policies

  = render "current_policies_list", division: @division, display: @display
