- contributors = {
  "Anishka0107"      => "Anishka Gupta",
  "bobsbarrels" => "Robert J.I. Smith",
  "br3nda"           => "Brenda Wallace",
  "brfairless"       => "Ben Fairless",
  "CloCkWeRX" => "Daniel O'Connor",
  "damncabbage"      => "Robin Howard",
  "DanielKinsman"    => "Daniel Kinsman",
  "djm4"            => "David Matthewman",
  "equivalentideas"  => "Luke Bacon",
  "essymo"           => "Esther Monchari",
  "henare"           => "Henare Degan",
  "jamezpolley"     => "James Polley",
  "kat"              => "Katherine Szuminska",
  "kattekrab" =>  "Donna Benjamin",
  "katybairstow" =>"katybairstow",
  "keithpitty" => "Keith Pitty",
  "kevinjcliao" => "Kevin Liao",
  "lukesampson"      => "Luke Sampson",
  "mackaymackay"     => "Mackay",
  "mario-areias"     => "Mário Areias",
  "maxious"          => "Alexander Sadleir",
  "mlandauer"        => "Matthew Landauer",
  "MutazAshhab"      => "Mutaz Ashhab",
  "novemberkilo"     => "Navin",
  "novemberkilo"   => " Navin Keswani",
  "pwaring" => "Paul Waring",
  "rbairwell" => "Richard Bairwell",
  "srushe"=> "Stephen Rushe",
  "tmtmtmtm" =>  "Tony Bowden",
  "tracymu"          => "Tracy Mu",
  "tseyiokorodudu"   => "Tseyi Okorodudu",
} 

.row
  - contributors.each do |username, name|
    .col-xs-3.col-md-2
      = link_to "https://github.com/#{username}", class: "thumbnail has-tooltip", name: name do
        = image_tag("#{username}")
