%figure.col-md-6.col-lg-5
  %blockquote
    Great new website: How does your MP vote on the issues that matter to you? — important for democracy
  %footer
    = image_tag("acoss_avatar.jpg", alt: "", class: "lazy quote-avatar", width: 32, height: 32)
    = link_to "@ACOSS", "https://twitter.com/ACOSS/status/524305187565875201", title: "See on Twitter."

%figure.col-md-6.col-lg-5.col-lg-offset-2
  %blockquote
    This is brilliant stuff. My member is about to get a few "please explain" letters from me.
  %footer
    = image_tag("craigsomerton_avatar.jpg", alt: "", class: "lazy quote-avatar", width: 32, height: 32)
    = link_to "Craig Somerton", "https://www.facebook.com/theguardianaustralia/posts/740953619273060?comment_id=740997819268640&offset=0&total_comments=31", title: "See on Facebook."

