%form{action: search_path, method: "get", name: "pw"}
  %label{for: "query"}
    Find your representative by
    %strong postcode
    or
    %strong name
  .input-group
    %input.form-control#query{maxlength: "256",
                              name: "query",
                              type: "search",
                              placeholder: search_people_form_placeholder_text,
                              list: "members-datalist"}
    %span.input-group-btn
      %button.btn.btn-primary{name: "button", type: "submit", value: "hero_search"} Search
  %datalist#members-datalist
    - @current_members.each do |member|
      %option{value: member.name_without_title}
