%p.search
  Enter your postcode, MP name, electorate or
  debate topic:
%form.form-inline.search{action: search_path, name: "pw"}
  %input.form-control#query{maxlength: "256", name: "query", size: "25", value: ""}/
  %input.btn.btn-default{name: "button", type: "submit", value: "Search"}/
  %p.help-block Example: "2042", "Tony Abbott", "Bennelong" or "Medicare"
%p.search
  %span.ptitle MPs:
  You can enter a
  postcode to get a list of all MPs for that electorate, or else
  enter their name or part of their name. If you don't know exactly
  how to spell the name, write it as best you can like it sounds.
%p.search
  %span.ptitle Divisions:
  To find
  divisions you are interested in, enter the name of a subject, such
  as "Pensions" or "Hunting". #{Settings.project_name} will search the titles
  of the divisions and the text of the motion being debated. If you
  enter multiple words, it will only find entries where they appear
  next to each other as you enter them. You can enter part of a
  word.
