-# content_for :title, "About"
- content_for :title, "Про проект"
- set_meta_tags description: default_meta_description

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title
      %p.lead
        Forget what politicians <em>say</em>. What truly matters is what they <em>do</em>. And what they do is <em>vote</em>, to write our laws which affect us all.

.row
  .col-md-8
    = render "about"
