- content_for :title do
  About

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title
      %p.lead
        Public Whip is a free and open record of votes in Australia's Parliament, built by the community for the community.

.row
  .col-md-8
    :markdown
      #{render "about.md"}
