- content_for :title, "About"
- set_meta_tags description: default_meta_description

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title
      %p.lead
        Forget what politicians <em>say</em>. What truly matters is what they&nbsp;<em>do</em>—vote in Parliament on the laws which affect&nbsp;us&nbsp;all.

.row
  .col-md-8
    = render "about"
