- content_for :title, 'Recent edits'
- set_meta_tags description: "Recent edits to divisions and policies by the #{Settings.project_name} community."
- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1 All edits made in the last week

- if @history.empty?
  %p
    None yet… but you’ll show up here when you help by #{link_to "summarising divisions", help_research_path} and by #{link_to "creating and maintaining policies", policies_path}.
- else
  = render partial: "layouts/history_list"
