.page-header
  %h1 Recent edits

- history = (PaperTrail::Version.all + WikiMotion.all).sort_by{|v| -v.created_at.to_i}

%ul
  - history.each do |version|
    %li
      - if version.kind_of?(WikiMotion)
        Changed text on
        = link_to version.division.name, version.division
        by
        #{link_to version.user.real_name, version.user},
        = time_ago_in_words(version.created_at)
        ago
      - else
        = version_sentence(version, show_policy: true)
