- set_meta_tags description: default_meta_description
- content_for :header do
  .site-introduction.banner-section.jumbotron
    %h1.banner-heading
      How does your MP vote on the issues that matter to you?

    .banner-action
      %form{action: search_path, method: "get", name: "pw"}
        %label{for: "query"}
          Find your representative by
          %strong postcode
          or
          %strong name
        .input-group
          %input.form-control#query{maxlength: "256", name: "query", type: "search", placeholder: "e.g. 2042 or Anthony Albanese"}
          %span.input-group-btn
            %button.btn.btn-primary{name: "button", type: "submit", value: "Submit"} Search

  .front-panels.banner-section.container
    .col-md-4
      = render "panel1"
    .col-md-4
      = render "panel2"
    .col-md-4
      = render "panel3"
