# Copy this to database.yml
#
# host/port default to the "mysql" service name/port from `.devcontainer/compose.yml`
# for Rails running inside the "web" container.
#
# If you're running Rails on the host and only using docker-compose for the
# database, override these in .envrc (for direnv) or manually, e.g.:
#   export DB_HOST=localhost
#   export DB_PORT=3388
#
# Database follow the same convention as production (tvfy-production / tvfy-production)
# but the devcontainer authenticates with root user and $MYSQL_ROOT_PASSWORD
# rather than the production/staging convention

# Be sure to use new-style password hashing:
#   https://dev.mysql.com/doc/refman/5.7/en/password-hashing.html

default: &default
  adapter: mysql2
  # FIXME: Update production databases to this encoding
  # encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
<% socket_path = File.socket?("/var/run/mysqld/mysqld.sock") ? "/var/run/mysqld/mysqld.sock" : (File.socket?("/tmp/mysql.sock") && "/tmp/mysql.sock") %>
<% if ENV["DB_HOST"] || ENV["DB_PORT"] || !socket_path %>
  host: <%= ENV.fetch("DB_HOST") { "mysql" } %>
  port: <%= ENV.fetch("DB_PORT") { "3306" } %>
<% else %>
  # Most secure on localhost
  socket: <%= socket_path %>
<% end %>
  username: <%= ENV.fetch("MYSQL_USER") { "root" } %>
  password: <%= ENV.fetch("MYSQL_PASSWORD") { ENV.fetch("MYSQL_ROOT_PASSWORD") { "password" } } %>
  # Ignore TLS/SSL error: self-signed certificate in certificate chain
  ssl_mode: preferred
  sslverify: false

development:
  <<: *default
  database: tvfy-development

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  <<: *default
  database: tvfy-test

