development:
  secret_key_base: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

test:
  secret_key_base: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

production:
  secret_key_base: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  cuttlefish_user_name: some_user
  cuttlefish_password: some_password
  honeybadger_api_key: xxxxxxxx
  honeybadger_javascript_api_key: xxxxxxxx
  google_analytics_code: UA-xxxxxxx-xx
