- content_for :title, "Data Feeds and API"

%h1 Data Feeds and API

%h2 MP attendance and rebelliousness rates
%p
  You can open XML files in any text editor, XML viewer or some
  spreadsheets. In the files there are comments with more
  information.
%p
  = link_to "mp-info.xml", "../mp-info.xml"
  \- list of division
  attendance rate and rebelliousness for MPs in the all-members.xml
  file. This is a live file, correct to the latest division in the
  Public Whip database. The field data_date shows the date it applies
  up to. For members who have left the house it says "complete".
%p
  = link_to "mp-info.xml?house=lords", "../mp-info.xml?house=lords"
  \- likewise for the House of Lords.
