- content_for :title, "Data Feeds and API"

:markdown
  # Data Feeds and API

  ## MP Attendance and Rebelliousness Rates XML

  [mp-info.xml](#{mp_info_feed_path(format: :xml)}) - list of division
  attendance rate and rebelliousness for MPs in the all-members.xml
  file. This is a live file, correct to the latest division in the
  Public Whip database. The field data_date shows the date it applies
  up to. For members who have left the house it says "complete".

  [mp-info.xml?house=lords](#{mp_info_feed_path(format: :xml, house: :lords)}) -
  likewise for the House of Lords.

  ## MP Policy Agreement XML

  Each #{link_to 'policy', policies_path} has an XML representation of how much
  each MP agrees with it, e.g. [mpdream-info.xml?id=1](#{mpdream_info_feed_path(id: 1, format: :xml)}).

  Hey, you should [help document this better](https://github.com/openaustralia/publicwhip/blob/test/app/views/static/data.html.haml)!
