.socialmedia-card-container {
  font-family: 'Fira Sans', sans-serif;
  width: 1200px;
  height: 628px;
  background-color: $color-lemon-light;
}

.socialmedia-card-logo {
  font-size: 32px;
  background-color: $color-lemon;
  padding: 0.6em 1.75em;
}

.socialmedia-card-image-card {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-column-gap: 35px;
  grid-template-areas: 'a b';
  margin: auto;
  width: 90%;
  padding-top: 2.6em;
  padding-bottom: 2.6em;
}

.socialmedia-card-member-image {
  grid-area: a;
  img {
    width: 280px;
    height: 370px;
  }
}

.fitin {
  overflow: hidden;
  max-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmedia-card-heading-text {
  grid-area: b;
  color: #262626;
  font-size: 72px;
  line-height: 1.3;
}

.socialmedia-card-disclaimer {
  padding-left: 3em;
  margin-top: 4px;
  font-size: 19px;
  .socialcard2_url {
    font-size: 25px;
  }
}

.social_media_cards::-webkit-scrollbar {
  display: none;
}

.socialmedia-card-policy-image-list {
  padding: 0 !important;
}
  
.socialmedia-card-policy-image-list-inline {
  display: inline-block;
  margin-right: 10px;
  margin-top: 13px;
}
  
.socialmedia-card-policy-element {
  margin: auto;
  width: 90%;
  padding-top: 1em;
  padding-bottom: 1em;
}
  
.socialmedia-card-policy-body-text {
  font-weight: 300;
} 
  
.fitin2 {
  overflow: hidden;
  max-height: 165px;
}

.socialmedia-card-member-votes-element {
  margin: auto;
  width: 90%;
  padding-top: 45px;
  min-height: 420px;
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-column-gap: 60px;
  grid-template-areas: 
    'a b';

  .socialmedia-card-member-image2 {
    grid-area: a;
    img {
      width: 108px;
      height: 145px;
    }
  }

  .socialmedia-card-member-votes-text {
    grid-area: b;
  }

  .socialmedia-card-heading-text {
    font-size: 45px;
    padding-bottom: 15px;
  }
}

.socialmedia-card-member-votes-list {
  font-size: 30px;
  padding-left: 27px;
}

.socialmedia-card-member-votes-list-inline {
  padding-top: 7px;
}

.socialmedia-card-member-votes-list-inline:last-child {
  position: fixed;
  width: 890px;
}

.number-left {
  font-size: 30px;
}
