%p
  %span.ptitle Useful links for you to research
%ul
  %li
    %a{:href => "http://www.aph.gov.au/Parliamentary_Business/Bills_Legislation/Bills_before_Parliament"}
      Bills before Parliament
  %li
    %a{:href => "http://www.aph.gov.au/Parliamentary_Business/Committees/House_of_Representatives_Committees?url=info/curr_inq.htm"}
      Current House Committee Inquiries
  %li
    %a{:href => "http://www.aph.gov.au/Parliamentary_Business/Committees/Senate/Current_Inquiries"}
      Current Senate Committee Inquiries
  %li
    %a{:href => "http://www.aph.gov.au/About_Parliament/House_of_Representatives/Powers_practice_and_procedure"}
      House Powers, Practice and Procedure
  %li
    %a{:href => "http://www.aph.gov.au/About_Parliament/Senate/Powers_practice_n_procedures"}
      Senate Powers, Practice and Procedure
  %li
    %a{:href => "http://www.aph.gov.au/Parliamentary_Business/Hansard/Hansreps_2011"}
      House Official Hansard
  %li
    %a{:href => "http://www.aph.gov.au/Parliamentary_Business/Hansard/Hanssen261110"}
      Senate Official Hansard
%p
  %span.ptitle> Formatting codes
  \. You can use the
  following to mark paragraphs, lists and so on.
%ul
  %li
    %code ''italic''
    \-
    %em italic
  %li
    %code [http://example.com A link]
    \-
    %a{:href => "http://example.com"} link
  %li
    %code * A point
    \- bulleted list item
  %li
    %code An idea[1]
    \- link to a footnote
  %li
    %code * [1] Ideas are good
    \- footnote
  %li
    %code @A comment
    \- comments aren't displayed
  %li
    %code @MP voted aye to say that little ponies are great
    \- puts this text on the motion page "[MP Name] voted to say that
    little ponies are great"
  %li
    %code @MP voted no
    \- does it for MPs that voted no
