%h2
  %a{:name => "dreammp"} Policies
%p
  The following policies have selected this division. You can use this to help you work out
  the meaning of the vote. Or #{link_to "list all policies", "/policies.php"}. 
%table.divisions
  %tr.headings
    %td Policy
    %td Vote (in this division)
  %tr.odd
    %td{:colspan => "2"} No policies voted in this division
%p
  = link_to "Make a new policy", "account/addpolicy.php"
