.division-policies {
  margin-bottom: 24px;

  .division-policies-list {
    margin-bottom: 0;
  }
}

.division-policy-statement-vote {
  display: inline-block;

  &.voted-aye {
    color: $color-vote-for;
  }
  &.voted-no {
    color: $color-vote-against;
  }
}

.voter-table {
  padding-right: 0;
  padding-left: 0;
  float: left;
  clear: both;

  .column-name {
      // width: 7em;
  }

  .column-vote {
    width: 10em;
  }

  tbody {
    th:first-child {
      @media (max-width: $screen-xs-max) {
        padding-left: 0;
      }
    }
  }

  .cell-vote {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .party-row .cell-vote {
    color: $gray-light;

    span {
      color: $text-color;
    }

    span.zero-votes {
      color: $gray-light;
    }

    span.rebel {
      color: $color-rebel;
    }
  }

  .party-row .party-absent {
    color: $text-color;
  }

  .cell-toggler {
    padding-right: 0;
    padding-left: 0;
    text-align: right;
    width: 1em;
    color: $gray-light;

    .btn {
      border: 0;
      padding-top: 0;
      background: transparent;
    }
  }

  .party-member-row {
    th,
    td {
      border-top-color: $gray-lighter;
    }

    th:first-child {
      padding-left: .75em;

      @media (min-width: $screen-xs-min) {
        padding-left: 1.5em;
      }
    }
  }

  .member-row-independent,
  .member-row-spk,
  .member-row-cwm,
  .member-row-pres,
  .member-row-dpres {
    .member-party {
      display: block;
    }
  }
}

.voter-table-toggle-members {
  border-color: transparent;
}

.division-policy {
  .division-policy-statement,
  .button_to,
  .button_to > div {
    display: inline;
  }
}
