.division-edit-notice {
  text-align: center;
  padding: 0;

  @media (min-width: $screen-sm-min) {
    text-align: right;
  }

  .alert {
    text-align: left;
    margin-bottom: 5px;
  }

  .btn {
    color: #888;
    z-index: 99;
  }
}

.motion {
  padding: 0;
}

.division-external-links {
  width: 100%;
  clear: left;

  h2:first-child {
    margin-top: 46px;
    margin-bottom: 0;
  }

  .object-item {
    padding-right: 0;
    padding-left: 0;
  }

  .motion-edited + & {
    @media (max-width: $screen-sm-max) {
      padding: 0;
    }

    @media (min-width: $screen-md-min) {
      float: right !important;
      clear: right;
    }

    // @include make-lg-column-offset(8);
    @include make-md-column(4);
    @include make-lg-column(4);
  }
}

