.author-details {
  padding-top: 36px;
  background: darken($color-blue-dark, 20%);
  // color: $text-color;

  @media (min-width: $screen-md-min) {
    padding-top: 24px;
  }

  a {
    font-weight: normal;
  }

  .author-msg {
    font-size: 27px;
  }

  .acknowledgement {
    font-weight: 300;

    @media (min-width: $screen-sm-min) {
      padding-top: 8.8em;
    }
    @media (min-width: $screen-md-min) {
      padding-top: 6em;
    }
  }

  .author-media {
    li + li {
      margin-left: 10px;
    }
  
    i {
      vertical-align: middle;
      margin-right: 3px;
      font-size: 30px;
      display: inline-block;
  
      &.fi-mail {
        padding: 2px 0 0;
      }
    }

    @media (min-width: $screen-sm-min) {
      padding-top: 8em;
      float: right;
    }

    @media (min-width: $screen-md-min) {
      padding-top: 5.2em;
    }
  }
}
