.banner-heading,
.banner-action {
  float: none;
  clear: both;

  @media (min-width: $screen-sm-min) {
    margin-left: auto;
    margin-right: auto;
  }
}

.banner-action {
  label {
    font-weight: normal;
  }
}
