.site-footer {
  margin-top: 48px;
  border-top: 16px $color-blue solid;
  background: $color-blue-dark;
  color: #ddd;

  @media (min-width: $screen-sm-min) {
    padding-top: 14px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 24px;
  }

  a {
    color: #ddd;
  }

  .footer-main {
    padding-bottom: 18px;

    @media (min-width: $screen-md-min) {
      padding-bottom: 24px;
    }
  }

  .footer-main-sitename {
    margin-top: 18px;
    font-size: 27px;
    
    @media (min-width: $screen-sm-min) {
      // padding-top: 36px;
      // display: inline-block;
      // margin-right: 1em;
    }
  
    @media (min-width: $screen-md-min) {
      margin-top: 5px;
      margin-right: 0;
      padding-top: 0;
      clear: none;
      display: block;
    }
  }

  .footer-main-description {
    font-weight: 300;
  }

  .footer-main-mid {
    @media (min-width: $screen-sm-min) {
      padding-top: 4.1em;
    }
    @media (min-width: $screen-md-min) {
      padding-top: 3.4em;
    }
  }

  .nav-footer {
    list-style: none;
    padding-left: 0px !important;
    margin-bottom: 0px !important;

    @media (min-width: $screen-sm-min) {
      float: left;
      width: 50%;
      padding: 0 1em;
    }

    a {
      &:hover,
      &:focus {
        background: transparent;
        text-decoration: underline;
        color: #ffffff;
      }
    }
  }

  .donate-btn {
    margin-top: 17px;
    margin-bottom: 14px;
    padding: 18px 16px;
    background-color: lighten($color-blue-dark, 10%);
    border-radius: 0.3em;
  }
}
