.site-footer {
  margin-top: 48px;
  border-top: 16px $color-blue solid;
  background: $color-blue-dark;
  color: #ddd;

  @media (min-width: $screen-sm-min) {
    padding-top: 14px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 24px;
  }

  a {
    color: #ddd;
  }

  .navbar-nav {
    margin-top: 0;

    @media (min-width: $screen-md-min) {
      float: right;
    }

    a {
      // border-bottom: 1px $color-blue solid;

      @media (min-width: $screen-sm-min) {
      }

      &:hover,
      &:focus {
        background: transparent;
        text-decoration: underline;
        color: #ffffff;
      }
    }

    li:first-child a {
      @media (min-width: $screen-sm-min) {
        padding-left: 0;
      }

      @media (min-width: $screen-md-min) {
        padding-left: 16px;
      }
    }

    li:last-child a {
      @media (min-width: $screen-md-min) {
        padding-right: 0;
      }
    }
  }
}

.footer-main {
  padding-bottom: 18px;

  @media (min-width: $screen-md-min) {
    padding-bottom: 24px;
  }
}

.license-msg,
.author-msg {
  a {
    border-bottom: 2px solid lighten($color-blue-dark, 5%);

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom: 2px solid $color-blue;
    }
  }
}

.license-msg {
  @media (min-width: $screen-sm-min) {
    padding-top: 24px;
  }
  @media (min-width: $screen-md-min) {
    margin-top: 8px;
    padding-top: 0;
    float: right;
  }
}

.author-msg,
.author-media {
  @media (min-width: $screen-md-min) {
    float: left;
    clear: left;
  }
}

.author-msg {
  margin-top: 18px;
  clear: left;
  @media (min-width: $screen-sm-min) {
    padding-top: 36px;
    font-size: 24px;
    // display: inline-block;
    // margin-right: 1em;
  }

  @media (min-width: $screen-md-min) {
    margin-top: 5px;
    margin-right: 0;
    padding-top: 0;
    clear: none;
    display: block;
  }
}

.author-media {
  display: inline-block;

  li + li {
    margin-left: 10px;
  }

  i {
    vertical-align: middle;
    margin-right: 3px;
    font-size: 22px;
    display: inline-block;

    &.fi-mail {
      padding: 2px 0 0;
    }
  }
}
