.label-heading label {
  @extend .lead;
  font-style: italic;
}

.list-filters {
  margin-bottom: 1em;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 2em;
  }

  .form-inline,
  .btn-group {
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}

.list-house-switcher {
  margin-bottom: 15px;

  @media (min-width: 33em) {
    margin-bottom: 0;
    float: left;
    clear: left;
  }
}

.list-sorter {
  @media (min-width: 33em) {
    float: right;
    clear: right;
  }
}

.signup_form {
  margin-right: auto;
  margin-left: auto;
  max-width: 28em;
}
