.label-heading label {
  @extend .lead;
  font-style: italic;
}

.list-filters {
  margin-bottom: 1em;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 2em;
  }

  .form-inline,
  .btn-group {
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}

.list-house-switcher {
  margin-bottom: 15px;

  @media (min-width: 33em) {
    margin-bottom: 0;
    float: left;
    clear: left;
  }
}

.list-sorter {
  @media (min-width: 33em) {
    float: right;
    clear: right;
  }
}

.signup-intro,
.signup-form {
  margin-bottom: 2em;
}

.hint-block {
  margin-top: .5em;
  color: $gray;
}

.hint-block-intime {
  display: none;
  transition: .5s all ease;

  input:focus ~ & {
    display: block;
  }
}

.form-secondary {
  margin-top: 30px;
}

.btn-wide {
  width: 100%;
  text-align: center;

  @media (min-width: 25em) {
    width: auto;
    min-width: 8em;
  }
}
