.main-content {
  @media (min-width: $screen-sm-min) {
    min-height: 300px;
  }

  @media (min-height: 750px) {
    min-height: 480px;
  }

  @media (min-width: 1500px) {
    min-height: 600px;
  }

  @media (min-width: 1800px) {
    min-height: 800px;
  }
}

.grid-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.grid-list-module {
  font-size: $font-size-base;
  display: inline-block;
  width: 80%;
  margin: 0 auto;

  @media (min-width: 18em) {
    width: 50%; // 6/12
  }

  @media (min-width: $screen-sm-min) {
    width: 25%; // 3/12
  }

  @media (min-width: $screen-md-min) {
    width: 16.6666%; // 2/12
  }

  a {
    padding: 2em 1.5em 0;
    display: block;
    height: 10em;
    font-size: $font-size-small;

    @media (min-width: $screen-xs-min) {
      font-size: 1em;
    }

    .has-flexbox & {
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
