.object-item {
  border-top: 1px solid $gray-lighter;
  padding-top: 1em;
  padding-right: 15px;
  padding-bottom: 1.5em;
  padding-left: 15px;
  @include clearfix;

  .object-list-compact & {
    padding: 10px 15px;

    &:first-child {
      border: 0;
    }
  }
}

.object-heading {
  margin-top: 0;
  font-size: $font-size-h4;
}

.object-primary {
  margin-bottom: 0;

  @media (min-width: $screen-md-min) {
    float: left;
    clear: left;
  }
}

.object-secondary {
  margin-top: .5em;
  margin-bottom: 0;

  @media (min-width: $screen-md-min) {
    float: right;
    clear: right;
  }
}

.object-secondary-inline {
  display: inline;

  & > div {
    display: inline;
  }
}

.object-secondary-inline-sm {
  @media (min-width: 30em) {
    display: inline;

    & > div {
      display: inline;
    }
  }
}

.object-data {
  text-transform: uppercase;
  font-size: $font-size-supporting;
}

.object-data-rebellion,
.object-data-attendance {
  display: block;

  @media (min-width: 30em) {
    margin-left: 1em;
    display: inline-block;

    .page-header & {
      margin-left: 0;
      margin-right: 1em;
    }
  }

  &:first-child {
    margin-left: 0;
  }
}
