.object-item {
  border-top: 1px solid $gray-lighter;
  padding-top: 1em;
  padding-right: 15px;
  padding-bottom: 1.5em;
  padding-left: 15px;
  @include clearfix;
}

.object-primary {
  margin-bottom: 0;

  @media (min-width: $screen-md-min) {
    float: left;
    clear: left;
  }
}

.object-secondary {
  margin-top: .5em;
  margin-bottom: 0;

  @media (min-width: $screen-md-min) {
    float: right;
    clear: right;
  }
}

.object-data {
  text-transform: uppercase;
  font-size: $font-size-supporting;
}

.object-data-rebellion,
.object-data-attendance,
.object-data-member-vote,
.object-data-policy-vote {
  display: block;

  @media (min-width: 30em) {
    margin-right: 1em;
    display: inline-block;
  }
}
