// section-header

.section-header {
  margin-bottom: 36px;
  padding-bottom: 36px;
  background-color: $color-lemon-light;

  @media (min-width: $screen-md-min) {
    margin-bottom: 48px;
    padding-bottom: 48px;
  }

  .page-header {
    margin-bottom: 0;
    border: 0;
    padding-bottom: 0;

    .lead {
      margin-bottom: 0;
      @media (min-width: $screen-md-min) {
        max-width: 65%; // 8/12 columns
      }
    }
  }

  // special exception for very long title of /people
  .members & h1 {
    @media (max-width: $screen-xs-max) {
      font-size: 36px;
    }
  }
}

// page header
.page-header {
  margin-top: 24px;
  @include clearfix;

  @media (min-width: $screen-sm-min) {
    margin-top: 48px;
  }

  .header-secondary .social-share {
    display: none;
    width: 100%;
    text-align: center;

    @media (min-width: 30em) {
      text-align: left;
      float: right;
      width: auto;
      display: inline-block;
    }

    @media (min-width: $screen-md-min) {
      float: right !important;
      margin-left: 0;
    }

    .share-link {
      padding-top: 3px;
    }
  }

  + .social-share {
    display: none;
    width: 100%;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      text-align: left;
      float: right;
      width: auto;
      display: inline-block;
     }

    @media (min-width: $screen-md-min) {
      float: right !important;
      margin-left: 0;
    }

    // @include make-lg-column-offset(8);
    @include make-lg-column(4);
  }
}

.header-actions {
  text-align: right;

  @media (min-width: $screen-sm-min) {
    float: right;
    clear: right;
  }

  .btn {
    margin-bottom: 10px;

    @media (min-width: $screen-sm-min) {
      margin-top: 5px;
    }
  }
}

.subscribe-button-form {
  display: inline;

  > div {
    display: inline;
  }

  .fi-mail:before {
    margin-top: -3px;
    margin-right: 5px;
    display: inline-block;
    font-size: 23px;
    vertical-align: middle;
    text-decoration: none;
  }
}

.subscribe-button-active {
  button {
    &:hover,
    &:focus {
      color: $color-very-strongly-against;
    }
  }
}
