%inline-icon {
  margin-right: 3px;
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
}

.social-share {
  z-index: 1;
  ul {
    display: inline;
  }
}

.social-share-heading {
  margin: 0 10px 0 0;
  display: inline-block;
  color: #aaa;
}

.share-link {
  margin-left: 2px;
  color: #888;

  i {
    @extend %inline-icon;
    color: #aaa;

    &.fi-social-facebook {
      padding: 0 0 2px 0;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
    i {
      color: inherit;
    }
  }
}

.js-sharecount {
  transition: all .3s ease;
}

.js-sharecount-active {
  font-size: $font-size-base;
  color: $text-color;
  font-weight: bold;
}
