.subscribe-button-form {
  display: inline;

  > div {
    display: inline;
  }

  .fi-mail:before {
    margin-top: -3px;
    margin-right: 5px;
    display: inline-block;
    font-size: 23px;
    vertical-align: middle;
    text-decoration: none;
  }

  .btn {
    padding-left: 0;
  }
}

.subscribe-button-active {
  button {
    padding-right: 1.5em;
    background-repeat: no-repeat;
    background-position: right center;
    // TOTO: get grunticon setup so this falls back nicely
    background-image: url(image-path("check-green.svg"));

    &.subscribe-button-unsubscribing,
    &:hover,
    &:focus,
    &:active {
      color: $color-very-strongly-against;
      background-image: url(image-path("cross-red.svg"));
      padding-right: .95em;
      text-decoration: none;
    }
  }
}

.subscriptions-list {
  margin-right: -15px;
  margin-left: -15px;

  .object-item a {
    width: 75%;
    display: inline-block;

    @media (min-width: $screen-md-min) {
      width: 75%;
    }
  }

  .btn-unsubscribe {
    color: $gray-light;
    float: right;

    &:hover,
    &:focus {
      color: $color-very-strongly-against;
    }

    i.fi-x {
      font-size: 1.25em;
      vertical-align: top;

      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
  }

  .btn-subscribe {
    margin-top: .5em;
    margin-bottom: 1em;

    @media (min-width: 30em) {
      margin: 0 0 1em;
      float: right;
    }
  }
}

.subscriber-count {
  margin-left: 10px;
  color: #aaa;
}
