.swag {
  background-color: #101c37;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;

  .swag-text {
    text-align: left;
    display: inline-block;
    max-width: 200px;
    vertical-align: middle;
  }
}