h1 {
  .page-header & {
    margin-top: 0;
  }
}

h1,
h2 {
  font-weight: normal;
}

.pre-title,
.post-title {
  display: block;
}

.long-title {
  font-size: 30px;

  @media (min-width: $screen-md-min) {
    font-size: 36px;
  }

  .pre-title {
    font-size: 18px;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
  }
}

.lead {
  font-weight: normal;

  @media (min-width: $screen-sm-min) {
    font-weight: 300;
  }
}

.btn-lone-link {
  padding-left: 0;
}

.page-section {
  margin-bottom: 48px;
}

// resets the font-size of blockquotes to inherit from wrapping section.
blockquote {
  font-size: 1em;
}
