.lazy {
  display: none !important;

  .has-js & {
    display: inherit !important;
  }
}

/**
* Breakpoint definition for JS - see https://github.com/JoshBarr/on-media-query
* used by onmediaquery.js
*/

body:after {
  display: none;

  content: 'small';

  @media (min-width: $screen-md-min) {
    content: 'wide';
  }
}

html {
  font-family: 'small';

  @media (min-width: $screen-md-min) {
    font-family: 'wide';
  }
}
