// Typography
$font-family-base:  "Fira Sans", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;

$font-size-supporting: 14px;

// Colours
// http://color.hailpixel.com/#FFEA8A,FFF2B8,C64E39,B15D4E,94716B,767676,42753E,308A28,1EA112,

$text-color: #444444;

$color-lemon: #ffea8a;
$color-lemon-light: #fff2b8;

$color-orange: #ffbb43;

$color-very-strongly-for: #1EA112;
$color-strongly-for: #308A28;
$color-moderately-for: #42753E;
$color-mixed-position: #767676;
$color-moderately-against: #94716B;
$color-strongly-against: #B15D4E;
$color-very-strongly-against: #C64E39;
