// Typography
$font-family-base:  "Fira Sans", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;

$font-size-supporting: 14px;

$grid-float-breakpoint: 60em;

// Colours
// http://color.hailpixel.com/#FFEA8A,FFF2B8,C64E39,B15D4E,94716B,767676,467043,3E7939,308A28,

$text-color: #444444;

$color-lemon: #ffea8a;
$color-lemon-light: #fff2b8;

$color-orange: #ffbb43;

$color-blue: #428bca;
$color-blue-dark: #274486;

$brand-primary: $color-blue;

$color-for3: #308A28;
$color-for2: #3E7939;
$color-for1: #467043;
$color-mixed-position: #767676;
$color-against1: #94716B;
$color-against2: #B15D4E;
$color-against3: #C64E39;

$color-vote-against: $color-against3;
$color-vote-for: $color-for3;
$color-rebel: $color-against3;
