// Typography
$font-family-base:  "Fira Sans", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;

$font-size-supporting: 14px;

// Colours
$text-color: #444444;

$color-lemon: #ffea8a;
$color-lemon-light: #fff2b8;

$color-orange: #ffbb43;
