.socialmedia-card-container
  %p.socialmedia-card-logo
    %span.subtext They Vote For You
  .row
    .col-sm-12
      .socialmedia-card-image-card
        .socialmedia-card-member-image
          = extra_large_member_image(@member)
        %div.fitin
          .socialmedia-card-heading-text
            = policy_agreement_summary(@policy_person_distance, with_person: true, with_policy: true)
  %p.socialmedia-card-disclaimer
    %span.subtext
      How is this worked out?
      = remove_slash(get_hostname(root_url) + member_policy_path_simple(@member, @policy))

:javascript
  window.addEventListener('DOMContentLoaded', (event) => {
    fitin = document.querySelector('.fitin');
    fitin_inner = document.querySelector('div .socialmedia-card-heading-text');

    while (fitin_inner.offsetHeight > fitin.offsetHeight) {
      fontStyling = window
        .getComputedStyle(fitin_inner, null)
        .getPropertyValue('font-size');
      fontSize = parseFloat(fontStyling);
      fitin_inner.style.fontSize = fontSize - 1 + 'px';
    }
  });
