// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.

//= require_self
//= require_tree .

// Typography
$font-family-base:  "Fira Sans", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;

// Colours
$text-color: #444444;

@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  .page-header & {
    margin-top: 0;
  }
}

h1,
h2 {
  font-weight: normal;
}

.pre-title,
.post-title {
  display: block;
}

#footer1 {
  background-color: #ddd;
  padding-bottom: 1em;
}

#footer2 {
  background-color: #eee;
  padding-top: 1em;
  padding-bottom: 1em;
}

// Tables

th {
  font-weight: normal;
}

.rebel {
  color: red;
}

// Forms

.list-filters {
  .form-inline,
  .btn-group {
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}

// Divisions

.motion-source-info {
  border-top: 1px solid #E7E7E7;
}

.division-outcome-summary {
  &.division-outcome-passed {
    color: $brand-success;
  }

  &.division-outcome-not-passed {
    color: $brand-danger;
  }
}

.division-outcome-summary,
.division-outcome-score {
  display: inline-block;
}

// Division lists

.division-item {
  .division-edit-notice {
    font-size: $font-size-small;
  }

  .division-datetime {
    &:after {
      @media (min-width: 33em) {
        content: ", "
      }
    }
  }

  .division-house {
    display: block;

    @media (min-width: 33em) {
      display: inline-block;
    }
  }

  .division-title {
    margin-top: .5em;
    font-size: $font-size-h4;
    max-width: 35em;
  }
}

.divisions-table {
  thead {
    @media (max-width: $screen-xs-max) {
      // Only display content to screen readers
      //
      // See: http://a11yproject.com/posts/how-to-hide-content/

      position: absolute;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }

  tr,
  td {
    @media (max-width: $screen-xs-max) {
      display: block;
      border: 0 !important;
      padding: 0 !important;
    }
  }

  tr {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 3em;
    }
  }

  .division-policy-vote {
    &:before {
      @media (max-width: $screen-xs-max) {
        content: "Supporter would have voted "
      }
    }
  }

  .division-member-vote {
    &:before {
      @media (max-width: $screen-xs-max) {
        content: attr(data-member) " voted ";
      }
    }
  }

  .division-outcome {
    &:before {
      @media (max-width: $screen-xs-max) {
        content: "Division outcome: "
      }
    }
  }
}

.division-policy {
  .division-policy-statement,
  .button_to,
  .button_to > div {
    display: inline;
  }
}

// layout

.header-actions {
  text-align: right;

  @media (min-width: $screen-sm-min) {
    float: right;
    clear: right;
  }

  .btn {
    @media (min-width: $screen-sm-min) {
      margin-top: 1em;
    }
  }
}
