// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.

//= require_self
//= require_tree .

// Typography
$font-family-base:  "Fira Sans", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;

$font-size-supporting: 14px;

// Colours
$text-color: #444444;

$color-lemon: #ffea8a;
$color-lemon-light: #fff2b8;

$color-orange: #ffbb43;

@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  .page-header & {
    margin-top: 0;
  }
}

h1,
h2 {
  font-weight: normal;
}

.pre-title,
.post-title {
  display: block;
}

#footer1 {
  background-color: #ddd;
  padding-bottom: 1em;
}

#footer2 {
  background-color: #eee;
  padding-top: 1em;
  padding-bottom: 1em;
}

// Banners

.jumbotron {
  background-color: $color-orange;

  .banner-heading {
    color: #fff;
  }
}

.banner-section {
  @media (min-width: $screen-sm-min) {
    text-align: center;
  }
}

.banner-heading,
.banner-action {
  margin-left: auto;
  margin-right: auto;
  float: none;
  clear: both;
}

.banner-action {
  @media (min-width: $screen-sm-min) {
    margin: 3em auto;
  }
  label {
    font-weight: normal;
  }
}

// Tables

th {
  font-weight: normal;
}

.rebel {
  color: red;
}

// Forms

.list-filters {
  margin-bottom: 1em;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 2em;
  }

  .form-inline,
  .btn-group {
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}

// Divisions

.motion-text {
  float: none;
  clear: right;
}

.motion-source-info {
  border-top: 1px solid #E7E7E7;
}

.division-outcome-summary {
  &.division-outcome-passed {
    color: $brand-success;
  }

  &.division-outcome-not-passed {
    color: $brand-danger;
  }
}

.division-outcome-summary,
.division-outcome-score {
  display: inline-block;
}

.division-header {
  .division-title {
    font-size: 30px;

    @media (min-width: $screen-md-min) {
      font-size: 36px;
    }

    .pre-title {
      font-size: 18px;

      @media (min-width: $screen-sm-min) {
        font-size: 24px;
      }
    }
  }
}

// Division lists

.division-panel-link {
  display: block;

  &:hover,
  &:focus {
    border-color: $brand-primary;
    background-color: lighten($brand-primary, 45%);
    text-decoration: none;
  }
}

.division-item {
  .division-edit-notice {
    font-size: $font-size-small;
  }

  .division-datetime,
  .division-house,
  .division-data {
    color: $text-color;
  }

  .division-datetime {
    .display-house-all & {
      &:after {
        @media (min-width: 33em) {
          content: ", "
        }
      }
    }
  }

  .division-house {
    display: block;

    @media (min-width: 33em) {
      display: inline-block;
    }
  }

  .division-title {
    margin-top: .5em;
    font-size: $font-size-h4;
    max-width: 35em;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

// Division votes table

.divisions-table {
  thead {
    @media (max-width: $screen-xs-max) {
      // Only display content to screen readers
      //
      // See: http://a11yproject.com/posts/how-to-hide-content/

      position: absolute;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }

  tr,
  td {
    @media (max-width: $screen-xs-max) {
      display: block;
      border: 0 !important;
      padding: 0 !important;
    }
  }

  tr {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 3em;
    }
  }

  .division-policy-vote {
    &:before {
      @media (max-width: $screen-xs-max) {
        content: "Supporter would have voted "
      }
    }
  }

  .division-member-vote {
    &:before {
      @media (max-width: $screen-xs-max) {
        content: attr(data-member) " voted ";
      }
    }
  }

  .division-outcome {
    &:before {
      @media (max-width: $screen-xs-max) {
        content: "Division outcome: "
      }
    }
  }
}

.voter-table-toggle-members {
  border-color: transparent;
}

.division-policy {
  .division-policy-statement,
  .button_to,
  .button_to > div {
    display: inline;
  }
}

// layout

.header-actions {
  text-align: right;

  @media (min-width: $screen-sm-min) {
    float: right;
    clear: right;
  }

  .btn {
    @media (min-width: $screen-sm-min) {
      margin-top: 1em;
    }
  }
}

// header

.site-header {
  background-color: $color-lemon;
  border-radius: 0;
  margin-bottom: 0;
  border: 0;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-small;
  }

  .navbar-brand {
    @media (min-width: $screen-sm-min) {
      font-size: $font-size-base;
    }
  }

  .navbar-toggle,
  a {
    color: #333;
  }

  .navbar-toggle {
    border-color: rgba(255,255,255,.2);

    &:hover,
    &:focus {
      color: #111;
      background-color: rgba(255,255,255,.2);
      border-color: rgba(255,255,255,.3);
    }

    .icon-bar {
      background-color: #ddd;
    }
  }

  a {
    &:hover,
    &:focus {
      color: #111;
      background-color: inherit !important;
      text-decoration: underline !important;
    }
  }

  .navbar-form {
    @media ( min-width: $screen-sm-min) {
      margin-top: 8px;
    }
  }
}

.site-header-search {
  input[type="search"] {
    background-color: lighten($color-lemon-light, 5%);
    box-shadow: none;
    border-color: lighten($color-lemon-light, 5%);

    & + .input-group-btn button {
      background-color: lighten($color-lemon-light, 5%);
      border: 0;
    }

    &:focus {
      background-color: white;
    }
  }
}


.alert-container {
  .alert {
    margin-bottom: 0;
    border: 0;
  }
}

.members .navlink-members,
.divisions .navlink-divisions,
.policies .navlink-policies,
.about .navlink-about {
  background-color: $color-lemon-light;
}

// section-header

.section-header {
  margin-bottom: 2em;
  background-color: $color-lemon-light;

  .page-header {
    margin-bottom: 0;
    border: 0;
    padding-bottom: 0;

    .lead {
      @media (min-width: $screen-md-min) {
        max-width: 65%; // 8/12 columns
      }
    }
  }
}

// footer

.site-footer {
  margin-top: 3em;
  border-top: 1px #eee solid;
  padding-top: .5em;
}

.footer-msg {
  margin-top: 10px;
}

// history-notice

.history-notice {
    padding: .2em 0;
    color: $gray;
    background-color: $gray-lighter;
    font-size: $font-size-supporting;

    @media (min-width: $screen-sm-min) {
      padding: .2em 0;
      font-size: $font-size-small;
    }

    p {
      margin-bottom: 0;
    }

    a {
      color: $gray;
    }
}
