# .htaccess file 

<FilesMatch "^(mp-info.xml|dreamquery.xml|mpdream-info.xml)$">
    AddType application/x-httpd-php .xml
</FilesMatch>
Options ExecCGI
DirectoryIndex index.php

# make things safe
php_flag register_globals off
<Files ~ "\.inc$">
    Order allow,deny
    Deny from all
</Files>

# all links on publicwhip.org.uk are permalinks
# this lets us move pages without breaking them
RedirectPermanent /rebels.php http://www.publicwhip.org.uk/mps.php?sort=rebellions
RedirectPermanent /news.php http://www.publicwhip.org.uk/newsletters/archive.php
RedirectPermanent /code.php http://www.publicwhip.org.uk/project/code.php
RedirectPermanent /mp-info.xml http://www.publicwhip.org.uk/feeds/mp-info.xml
RedirectPermanent /dreammp.php http://www.publicwhip.org.uk/policy.php
RedirectPermanent /awstats http://seagrass.goatchurch.org.uk/cgi-bin/awstats.pl?config=publicwhip

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^testrewrite$ /index.php [PT]
RewriteRule ^[Nn]/([^;]+)$                      /newsletters/signup.php?token=$1
RewriteRule ^[Uu]/([^;]+)$                      /newsletters/signup.php?token=$1&unsub=1


# Net strike
#RewriteCond %{REQUEST_URI} !^/patents/patents\.php
#RewriteCond %{REQUEST_URI} !^/thepublicwhip\.gif
#RewriteCond %{REQUEST_URI} !^/publicwhip\.css
#RewriteCond %{REQUEST_URI} !^/mp-info.xml
#RewriteRule .*          http://www.publicwhip.org.uk/patents/patents.php [R=302,L]

# Alternative way of net striking:
#RedirectMatch /[^p] http://www.publicwhip.org.uk/patents/patents.php


