BODY
{
    MARGIN-TOP: 0.5em;
    FONT-SIZE: 100%;
    BACKGROUND: #ffffff;
    MARGIN-BOTTOM: 0.5em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, arial, sans-serif;
    TEXT-ALIGN: left
}
A:link, A:active, A:visited
{
    TEXT-DECORATION: underline;
    COLOR: #000099;
}
A:link:hover, A:active:hover, A:visited:hover
{
    TEXT-DECORATION: underline;
}
TABLE.mps A:link, TABLE.mps A:active, TABLE.mps A:visited,
TABLE.votes A:link, TABLE.votes A:active, TABLE.votes A:visited,
TABLE.divisions A:link, TABLE.divisions A:active, TABLE.divisions A:visited,
TABLE.edits A:link, TABLE.edits A:active, TABLE.edits A:visited
{
/* Uncomment to hide link underlines inside large tables: */
/*    TEXT-DECORATION: none; */
}
TABLE.mps A:link:hover, TABLE.mps A:active:hover, TABLE.mps A:visited:hover,
TABLE.votes A:link:hover, TABLE.votes A:active:hover, TABLE.votes A:visited:hover,
TABLE.divisions A:link:hover, TABLE.divisions A:active:hover, TABLE.divisions A:visited:hover,
TABLE.edits A:link:hover, TABLE.edits A:active:hover, TABLE.edits A:visited:hover
{
    TEXT-DECORATION: underline;
}
H1
{
    MARGIN-TOP: 0.4em;
    FONT-SIZE: 140%;
    MARGIN-BOTTOM: 0.0em;
    COLOR: #003300;
    TEXT-ALIGN: left
}
H2
{
    padding-top:5px;
    MARGIN-TOP: 1em;
    FONT-SIZE: 120%;
    MARGIN-BOTTOM: 0em;
    COLOR: #406900;
    TEXT-ALIGN: left
}
H2.faq
{
    MARGIN-TOP: 1.5em;
}
H3
{
    MARGIN-TOP: 1em;
    FONT-SIZE: 110%;
    MARGIN-BOTTOM: 0em;
    COLOR: #003300;
    TEXT-ALIGN: left
}
HR
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN-TOP: 0em;
    MARGIN-BOTTOM: 0em;
    BORDER-LEFT: medium none;
    COLOR: #003300;
    BORDER-BOTTOM: medium none;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #003300
}
.ptitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 100%;
    COLOR: #004000
}
.tableexplain
{
    WIDTH: 33%;
    FLOAT: right;
    PADDING-TOP: 1em;
    PADDING-LEFT: 1em;
    CLEAR: right;
}
.tabledreambox
{
    WIDTH: 24em;
    PADDING-LEFT: 1em;
    PADDING-TOP: 1em;
}
.tabledream
{
    WIDTH: 33%;
    FLOAT: right;
    PADDING-TOP: 1em;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-RIGHT: 1em;
    BACKGROUND-COLOR: #dddddd;
}
TABLE.layout
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0.5em;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px
}
TABLE TD.layout
{
    PADDING-RIGHT: 1em;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 0.5em;
    PADDING-TOP: 0.5em;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
}
.searchbox
{
    FLOAT: right;
    TEXT-ALIGN: right
}
.footer
{
    MARGIN-TOP: 0.5em;
    COLOR: #ffffff;
    text-align: center;
}
.footerleft
{
    FLOAT: left;
    WIDTH: 60%;
    TEXT-ALIGN: left
}
.footerright
{
    FLOAT: right;
    WIDTH: 30%;
    TEXT-ALIGN: right
}
TABLE
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 100%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0.6em 0px;
    PADDING-TOP: 0px
}
TABLE.votes, TABLE.mps, TABLE.divisions, TABLE.wrans, TABLE.edits
{
    WIDTH: 100%
}
TABLE TR.headings
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #dadada
}
TABLE TR.odd
{
    BACKGROUND-COLOR: #eeeeee
}
TABLE TR.even
{
    BACKGROUND-COLOR: #dadada
}


TABLE TR.oddrebel
{
    BACKGROUND-COLOR: #ee7777
}
TABLE TR.evenrebel
{
    BACKGROUND-COLOR: #da7777
}
TABLE TR.oddstrong
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #eeeeee
}
TABLE TR.evenstrong
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #dadada
}
TABLE TR.oddteller
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TR.eventeller
{
    BACKGROUND-COLOR: #77da77
}
TABLE TR.oddboth
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TR.evenboth
{
    BACKGROUND-COLOR: #77da77
}
TABLE TR.oddrebelteller
{
    BACKGROUND-COLOR: #eeee77
}
TABLE TR.evenrebelteller
{
    BACKGROUND-COLOR: #dada77
}
TABLE TR.motiontitle
{
    BACKGROUND-COLOR: #ccccee
}
TABLE TR.motiontitlestrong
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #aaaaee
}
TABLE TR.jobevent
{
    FONT-STYLE: italic;
    BACKGROUND-COLOR: #99ccee;
}

TABLE TD
{
    PADDING-RIGHT: 0.3em;
    PADDING-LEFT: 0.3em;
    PADDING-BOTTOM: 0.3em;
    PADDING-TOP: 0.3em
}
TABLE TD.teller
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TD.rebel
{
    BACKGROUND-COLOR: #ee7777
}
TABLE TD.rebelteller
{
    BACKGROUND-COLOR: #eeee77
}
TABLE TD.commons
{
    BACKGROUND-COLOR: #99ee99
}
TABLE TD.lords
{
    BACKGROUND-COLOR: #ee99ee
}

TABLE TD.whip
{
    FONT-WEIGHT: bold
}
TABLE TD.percent
{
    TEXT-ALIGN: right
}
TABLE TD.important
{
    FONT-WEIGHT: bold;
    FONT-STYLE: italic
}
.motion
{
    BACKGROUND-COLOR: #eeeeee;
}
.search
{
    TEXT-ALIGN: left
}
.error
{
    BACKGROUND-COLOR: #ffdddd
}
TABLE.bars
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
TABLE.bars TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
TABLE.votetab
{
	empty-cells: show;
	border-collapse: collapse;
    border: thin solid #660000;
}
TABLE.votetab TD.majority
{
    FONT-WEIGHT: bold;
    COLOR: #aa0066;
}
.container
{
    PADDING-RIGHT: 0px;
    BORDER: #003300 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%; /* change this to add margins */
    PADDING-TOP: 0px;
}
.identity
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #003300;
    COLOR: #FFFFFF;
}
.pagesecondnavlinks
{
    BACKGROUND-COLOR: #cccccc;
}
.pagenavlinks
{
    BACKGROUND-COLOR: #664466;
}
.searchtitlebar
{
    PADDING-RIGHT: 1em;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #003300;
    COLOR: #FFFFFF;
    TEXT-ALIGN: RIGHT;
    VERTICAL-ALIGN: MIDDLE;
}
.searchtitlebar form 
{
    MARGIN: 0px;
}
.searchtitlebar form a
{
    COLOR: #ffffff;
    MARGIN: 0px;
}
.searchtitlebarform
{
    TEXT-ALIGN: RIGHT;
    VERTICAL-ALIGN: MIDDLE;
    BACKGROUND-COLOR: #003300;
}
IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
.headers A
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent
}
.headers A:link, .headers A:visited, .headers A:active
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.headers A:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline
}
.headers TD
{
    BORDER-BOTTOM: #003300 1px solid
}
.secondheaders A
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    COLOR: #000000;
    BACKGROUND-COLOR: transparent
}
.secondheaders A:link, .secondheaders A:visited, .secondheaders A:active
{
    COLOR: #000000;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.secondheaders A:hover
{
    COLOR: #000000;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline
}
.secondheaders TD
{
    BORDER-BOTTOM: #003300 1px solid
}
.secondheaders A:link.on, .secondheaders A:visited.on, .secondheaders A:active.on, .secondheaders A:hover.on {
    BACKGROUND-COLOR: #FFFFFF;
}
/* Inner HTML paragraph classes from the written answer XML files */
P.askedtoreply
{
	COLOR: #888888;
}
P.holdinganswer
{
	COLOR: #888888;
}
P.letterinlibrary
{
	COLOR: #888888;
}
P.indent
{
	MARGIN-LEFT: 3em;
}
P.indentitalic
{
	MARGIN-LEFT: 3em;
    FONT-STYLE: italic
}
P.italic
{
    FONT-STYLE: italic
}
P.error
{
    FONT-STYLE: italic
}
P.numindent
{
	MARGIN-LEFT: 3em;
}
P.letterfrom
{
    FONT-STYLE: italic
}
INPUT
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Verdana, arial, sans-serif;
}
TEXTAREA
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Verdana, arial, sans-serif;
}
/* 1, 2, 3 on the front page */
.actionsheading
{
    FONT-WEIGHT: bold;
}
OL.actions
{
    FONT-SIZE: 120%;
}
OL.actions P
{
    FONT-SIZE: 83%;
}

/* For patent protest pages in patent/ */
BODY.patent
{
    WIDTH: 60%;
    MARGIN-LEFT: 20%;
}
BODY.patent P
{
    text-align: center;
}
BODY.patent H1
{
    text-align: center;
    font-size: 200%;
}
/* For election banner */
.electionadvert {font-family: "Gill Sans MT"  "Trebuchet MS", "Bitstream Vera Sans", Verdana;}
    .electionadvert td {padding:0;background:white;}
    .electionadvert {text-align:left;}
    .electionadvert strong {color:e1b823;font-weight:bold;}
    .electionadvertright {text-align:right;}
    .electionadvertright a {color:37a44a;font-weight:bolder;background:transparent;text-decoration:none;font-size:14px;}
    .electionadvertright a:hover {background:transparent}
/* For showing HTML source, such a Policy syndication box */
PRE.htmlsource
{
	border: solid 1px #4d6c25;
	margin: 0 18px 1em;
	height: 15em;
	overflow: scroll;
}
/* For diffs in wiki */
.diffchange
{
    BACKGROUND: #cccccc;
    COLOR: #000000;
}
.diffold
{
    TEXT-DECORATION: line-through;
}
.diffnew
{
    BACKGROUND: #77ee77;
    COLOR: #000000;
}

/* Space so that when going to # links it scrolls to top of screen */
.paddingforanchors
{
    margin-bottom: 40em;
}
/* Used in before and after motion text examples in project/research.php */
TABLE TD.oddcol
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TD.evencol
{
    BACKGROUND-COLOR: #77da77
}

.motionguidelines LI {
    MARGIN-BOTTOM: 1em;
}
LI {
    MARGIN-TOP: 0.2em;
}
/* Box for changing a vote of a policy, on division page */
.policyvote
{
    BACKGROUND-COLOR: #eeffee;
    padding: 0 0.5em 0 0.5em;
    text-align: right;
    width: 75%;
    margin-left: 20%;
}
.policydefinition
{
    BACKGROUND-COLOR: #cefeff;
    margin-left:2em;
    margin-right:2em;
    margin-top:1em;
    margin-bottom:1em;
    padding: 5px; 
    border-style: dashed;
    border-width: thin; 
}
.policyvotehead
{
    border-style: dashed; 
    border-width: thin; 
}
.equation {vertical-align: middle;}

.fraction {
float: left;
text-align: center;
}
.numerator {
 display: inline;
}
.denominator {
display: inline;
}

.equals{ padding-top: .5em;float:left;
 }

.equation .break {clear: both}
.divider {
width: 100%;
padding: 0;
margin: 2px 0;
 border: none; border-bottom: 1px solid black;

}

