BODY
{
    MARGIN-TOP: 0.5em;
    FONT-SIZE: 70%;
    BACKGROUND: #ffffff;
    MARGIN-BOTTOM: 0.5em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, arial, sans-serif;
    TEXT-ALIGN: left
}
A
{
    TEXT-DECORATION: none
}
A:link, A:active, A:visited
{
    COLOR: #990000
}
A:link:hover, A:active:hover, A:visited:hover
{
    BACKGROUND-IMAGE: none;
    COLOR: #990000;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: #bbbbbb;
}
H1
{
    MARGIN-TOP: 0.2em;
    FONT-SIZE: 140%;
    MARGIN-BOTTOM: 0.2em;
    COLOR: #003300;
    TEXT-ALIGN: left
}
H2
{
    MARGIN-TOP: 0.5em;
    FONT-SIZE: 120%;
    MARGIN-BOTTOM: 0em;
    COLOR: #003300;
    TEXT-ALIGN: left
}
H3
{
    MARGIN-TOP: 1em;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0em;
    COLOR: #003300;
    TEXT-ALIGN: left
}
HR
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN-TOP: 0em;
    MARGIN-BOTTOM: 0em;
    BORDER-LEFT: medium none;
    COLOR: #003300;
    BORDER-BOTTOM: medium none;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #003300
}
.ptitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 100%;
    COLOR: #004000
}
.tableexplain
{
    WIDTH: 33%;
    FLOAT: right;
    PADDING-TOP: 1em;
}
.tablerollie
{
    WIDTH: 33%;
    FLOAT: right;
    PADDING-TOP: 1em;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-RIGHT: 1em;
    BACKGROUND-COLOR: #dddddd;
}
TABLE.layout
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0.5em;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px
}
TABLE TD.layout
{
    PADDING-RIGHT: 1em;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 0.5em;
    PADDING-TOP: 0.5em;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
}
.searchbox
{
    FLOAT: right;
    TEXT-ALIGN: right
}
.footer
{
    MARGIN-TOP: 0.5em;
    COLOR: #ffffff;
    text-align: center;
}
.footerleft
{
    FLOAT: left;
    WIDTH: 45%;
    TEXT-ALIGN: left
}
.footerright
{
    FLOAT: right;
    WIDTH: 45%;
    TEXT-ALIGN: right
}
TABLE
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 100%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0.6em 0px;
    PADDING-TOP: 0px
}
TABLE.votes
{
    WIDTH: 100%
}
TABLE.mps
{
    WIDTH: 100%
}
TABLE.wrans
{
    WIDTH: 100%
}
TABLE TR.headings
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #dadada
}
TABLE TR.odd
{
    BACKGROUND-COLOR: #eeeeee
}
TABLE TR.even
{
    BACKGROUND-COLOR: #dadada
}
TABLE TR.oddrebel
{
    BACKGROUND-COLOR: #ee7777
}
TABLE TR.evenrebel
{
    BACKGROUND-COLOR: #da7777
}
TABLE TR.oddteller
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TR.eventeller
{
    BACKGROUND-COLOR: #77da77
}
TABLE TR.oddboth
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TR.evenboth
{
    BACKGROUND-COLOR: #77da77
}
TABLE TR.oddrebelteller
{
    BACKGROUND-COLOR: #eeee77
}
TABLE TR.evenrebelteller
{
    BACKGROUND-COLOR: #dada77
}
TABLE TD
{
    PADDING-RIGHT: 0.3em;
    PADDING-LEFT: 0.3em;
    PADDING-BOTTOM: 0.3em;
    PADDING-TOP: 0.3em
}
TABLE TD.teller
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TD.rebel
{
    BACKGROUND-COLOR: #ee7777
}
TABLE TD.rebelteller
{
    BACKGROUND-COLOR: #eeee77
}
TABLE TD.whip
{
    FONT-WEIGHT: bold
}
TABLE TD.percent
{
    TEXT-ALIGN: right
}
TABLE TD.important
{
    FONT-WEIGHT: bold;
    FONT-STYLE: italic
}
.newsdate
{
    FONT-SIZE: 100%;
    FONT-STYLE: italic
}
LI.newsheadlines
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
LI.newsheadlines:hover
{
    BACKGROUND: #bbbbbb;
    COLOR: #990000;
}
UL.newsheadlines
{
    PADDING-RIGHT: 1em;
    PADDING-LEFT: 2em;
    PADDING-BOTTOM: 1em;
    MARGIN: 0px;
    PADDING-TOP: 1em
}
.motion
{
    BACKGROUND-COLOR: #eeeeee
}
.search
{
    TEXT-ALIGN: left
}
.error
{
    BACKGROUND-COLOR: #ffdddd
}
TABLE.bars
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
TABLE.bars TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.container
{
    BORDER-RIGHT: #003300 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #003300 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #003300 1px solid;
    WIDTH: 65em;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #003300 1px solid
}
.identity
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #003300;
    COLOR: #FFFFFF;
}
.pagetitlebar
{
    BACKGROUND-COLOR: #cccccc
}
.layout
{
}
IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
.headers
{
}
.headers A:active
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent
}
.headers A:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline
}
.headers A:link
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent
}
.headers A:visited
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent
}
.headers A
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent
}
.headers TD
{
    BORDER-BOTTOM: #003300 1px solid
}
/* Inner HTML paragraph classes from the written answer XML files */
P.askedtoreply
{
	COLOR: #888888;
}
P.holdinganswer
{
	COLOR: #888888;
}
P.letterinlibrary
{
	COLOR: #888888;
}
P.indent
{
	MARGIN-LEFT: 3em;
}
P.indentitalic
{
	MARGIN-LEFT: 3em;
    FONT-STYLE: italic
}
P.italic
{
    FONT-STYLE: italic
}
P.error
{
    FONT-STYLE: italic
}
P.numindent
{
	MARGIN-LEFT: 3em;
}
P.letterfrom
{
    FONT-STYLE: italic
}
TABLE.innerhtml
{
	empty-cells: show;
	border-collapse: collapse;
    border: thin solid #003300;
}
TABLE TH.innerhtml
{
	/* no top/bottom border as sometimes text is in two cells when should be in one */
    border-left: thin solid #003300;
    border-right: thin solid #003300;
}
TABLE TD.innerhtml
{
    border: thin solid #003300;
}
CAPTION.innerhtml
{
    FONT-WEIGHT: bold;
}

.minifeedback
{
    MARGIN-TOP: 0.5em;
} 
.minifeedbackcell
{
    BACKGROUND-COLOR: #003300;
    COLOR: #FFFFFF;
    FLOAT: right;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: center;
}
INPUT
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Verdana, arial, sans-serif;
}
TEXTAREA
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Verdana, arial, sans-serif;
}

