BODY
{
    MARGIN-TOP: 0.5em;
    FONT-SIZE: 100%;
    BACKGROUND: #ffffff;
    MARGIN-BOTTOM: 0.5em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, arial, sans-serif;
    TEXT-ALIGN: left
}
A:link, A:active, A:visited
{
    TEXT-DECORATION: underline;
    COLOR: #000099;
}
A:link:hover, A:active:hover, A:visited:hover
{
    TEXT-DECORATION: underline;
}
.content
{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
}
TABLE.mps A:link, TABLE.mps A:active, TABLE.mps A:visited,
TABLE.votes A:link, TABLE.votes A:active, TABLE.votes A:visited,
TABLE.divisions A:link, TABLE.divisions A:active, TABLE.divisions A:visited,
TABLE.edits A:link, TABLE.edits A:active, TABLE.edits A:visited
{
/* Uncomment to hide link underlines inside large tables: */
/*    TEXT-DECORATION: none; */
}
TABLE.mps A:link:hover, TABLE.mps A:active:hover, TABLE.mps A:visited:hover,
TABLE.votes A:link:hover, TABLE.votes A:active:hover, TABLE.votes A:visited:hover,
TABLE.divisions A:link:hover, TABLE.divisions A:active:hover, TABLE.divisions A:visited:hover,
TABLE.edits A:link:hover, TABLE.edits A:active:hover, TABLE.edits A:visited:hover
{
    TEXT-DECORATION: underline;
}
H1
{
    MARGIN-TOP: 0;
    padding-top: 0;
    FONT-SIZE: 140%;
    MARGIN-BOTTOM: 0.0em;
    COLOR: #003300;
    TEXT-ALIGN: left
}
H2
{
    padding-top:5px;
    MARGIN-TOP: 1em;
    FONT-SIZE: 120%;
    MARGIN-BOTTOM: 0em;
    COLOR: #406900;
    TEXT-ALIGN: left
}
H2.faq
{
    MARGIN-TOP: 1.5em;
}
H3
{
    MARGIN-TOP: 1em;
    FONT-SIZE: 110%;
    MARGIN-BOTTOM: 0em;
    COLOR: #003300;
    TEXT-ALIGN: left
}
HR
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN-TOP: 0em;
    MARGIN-BOTTOM: 0em;
    BORDER-LEFT: medium none;
    COLOR: #003300;
    BORDER-BOTTOM: medium none;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #003300
}
.ptitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 100%;
    COLOR: #004000
}
.tableexplain
{
    WIDTH: 33%;
    FLOAT: right;
    PADDING-TOP: 1em;
    PADDING-LEFT: 1em;
    CLEAR: right;
}
.tabledreambox
{
    WIDTH: 24em;
    PADDING-LEFT: 1em;
    PADDING-TOP: 1em;
}
.tabledream
{
    WIDTH: 33%;
    FLOAT: right;
    PADDING-TOP: 1em;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-RIGHT: 1em;
    BACKGROUND-COLOR: #dddddd;
}
TABLE.layout
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0.5em;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px
}
TABLE TD.layout
{
    PADDING-RIGHT: 1em;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 0.5em;
    PADDING-TOP: 0.5em;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
}
.searchbox
{
    FLOAT: right;
    TEXT-ALIGN: right
}
.footer
{
    MARGIN-TOP: 0.5em;
    COLOR: #ffffff;
    text-align: center;
}
.footerleft
{
    FLOAT: left;
    WIDTH: 60%;
    TEXT-ALIGN: left
}
.footerright
{
    FLOAT: right;
    WIDTH: 30%;
    TEXT-ALIGN: right;
}
TABLE
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 100%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0.6em 0px;
    PADDING-TOP: 0px
}
TABLE.votes, TABLE.mps, TABLE.divisions, TABLE.wrans, TABLE.edits
{
    WIDTH: 100%
}
TABLE TR.headings
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #dadada
}
TABLE TR.odd
{
    BACKGROUND-COLOR: #eeeeee
}
TABLE TR.even
{
    BACKGROUND-COLOR: #dadada
}


TABLE TR.oddrebel
{
    BACKGROUND-COLOR: #ee7777
}
TABLE TR.evenrebel
{
    BACKGROUND-COLOR: #da7777
}
TABLE TR.oddstrong
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #eeeeee
}
TABLE TR.evenstrong
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #dadada
}
TABLE TR.oddteller
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TR.eventeller
{
    BACKGROUND-COLOR: #77da77
}
TABLE TR.oddboth
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TR.evenboth
{
    BACKGROUND-COLOR: #77da77
}
TABLE TR.oddrebelteller
{
    BACKGROUND-COLOR: #eeee77
}
TABLE TR.evenrebelteller
{
    BACKGROUND-COLOR: #dada77
}
TABLE TR.motiontitle
{
    BACKGROUND-COLOR: #ccccee
}
TABLE TR.motiontitlestrong
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #aaaaee
}
TABLE TR.jobevent
{
    FONT-STYLE: italic;
    BACKGROUND-COLOR: #99ccee;
}

TABLE TD
{
    PADDING-RIGHT: 0.3em;
    PADDING-LEFT: 0.3em;
    PADDING-BOTTOM: 0.3em;
    PADDING-TOP: 0.3em
}
TABLE TD.teller
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TD.rebel
{
    BACKGROUND-COLOR: #ee7777
}
TABLE TD.rebelteller
{
    BACKGROUND-COLOR: #eeee77
}
TABLE TD.commons
{
    BACKGROUND-COLOR: #99ee99
}
TABLE TD.lords
{
    BACKGROUND-COLOR: #ee99ee
}

TABLE TD.whip
{
    FONT-WEIGHT: bold
}
TABLE TD.percent
{
    TEXT-ALIGN: right
}
TABLE TD.important
{
    FONT-WEIGHT: bold;
    FONT-STYLE: italic
}
.search
{
    TEXT-ALIGN: left
}
.error
{
    BACKGROUND-COLOR: #ffdddd
}
TABLE.bars
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
TABLE.bars TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
TABLE.votetab
{
	empty-cells: show;
	border-collapse: collapse;
    border: thin solid #660000;
}
TABLE.votetab TD.majority
{
    FONT-WEIGHT: bold;
    COLOR: #aa0066;
}
.container
{
    PADDING-RIGHT: 0px;
    BORDER: #003300 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%; /* change this to add margins */
    PADDING-TOP: 0px;
}
.identity
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #003300;
    COLOR: #FFFFFF;
}
.pagesecondnavlinks
{
    BACKGROUND-COLOR: #cccccc;
}
.secondnavtabs
{
/*    border-bottom: #003300 1px solid;*/
}
.secondnavtabs ul
{
    padding-left: 0;
}
.secondnavtabs li
{
    display: inline;
    margin-right: 0.5em;
    padding: 0.2em;
}
.secondnavtabs li.on
{
    border-left: #003300 1px solid;
    border-right: #003300 1px solid;
    border-top: #003300 1px solid;
}
.secondnavtabs li.off
{
    BACKGROUND-COLOR: #999999;
    BORDER: #003300 1px solid
}
.pagenavlinks
{
    BACKGROUND-COLOR: #664466;
}
.searchtitlebar
{
    PADDING-RIGHT: 1em;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #003300;
    COLOR: #FFFFFF;
    TEXT-ALIGN: RIGHT;
    VERTICAL-ALIGN: MIDDLE;
}
.searchtitlebar form 
{
    MARGIN: 0px;
}
.searchtitlebar form a
{
    COLOR: #ffffff;
    MARGIN: 0px;
}
.searchtitlebarform
{
    TEXT-ALIGN: RIGHT;
    VERTICAL-ALIGN: MIDDLE;
    BACKGROUND-COLOR: #003300;
}
IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
.headers A
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent
}
.headers A:link, .headers A:visited, .headers A:active
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.headers A:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline
}
.headers TD
{
    BORDER-BOTTOM: #003300 1px solid
}
.secondheaders A
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    COLOR: #000000;
    BACKGROUND-COLOR: transparent
}
.secondheaders A:link, .secondheaders A:visited, .secondheaders A:active
{
    COLOR: #000000;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.secondheaders A:hover
{
    COLOR: #000000;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline
}
.secondheaders TD
{
    BORDER-BOTTOM: #003300 1px solid
}
.secondheaders A:link.on, .secondheaders A:visited.on, .secondheaders A:active.on, .secondheaders A:hover.on {
    BACKGROUND-COLOR: #FFFFFF;
}
/* Inner HTML paragraph classes from the written answer XML files */
P.askedtoreply
{
	COLOR: #888888;
}
P.holdinganswer
{
	COLOR: #888888;
}
P.letterinlibrary
{
	COLOR: #888888;
}
P.indent
{
	MARGIN-LEFT: 3em;
}
P.indentitalic
{
	MARGIN-LEFT: 3em;
    FONT-STYLE: italic
}
P.italic
{
    FONT-STYLE: italic
}
P.error
{
    FONT-STYLE: italic
}
P.numindent
{
	MARGIN-LEFT: 3em;
}
P.letterfrom
{
    FONT-STYLE: italic
}
INPUT
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Verdana, arial, sans-serif;
}
TEXTAREA
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Verdana, arial, sans-serif;
}
/* 1, 2, 3 on the front page */
.actionsheading
{
    FONT-WEIGHT: bold;
}
OL.actions
{
    FONT-SIZE: 120%;
}
OL.actions P
{
    FONT-SIZE: 83%;
}

/* For patent protest pages in patent/ */
BODY.patent
{
    WIDTH: 60%;
    MARGIN-LEFT: 20%;
}
BODY.patent P
{
    text-align: center;
}
BODY.patent H1
{
    text-align: center;
    font-size: 200%;
}
/* For election banner */
.electionadvert {font-family: "Gill Sans MT"  "Trebuchet MS", "Bitstream Vera Sans", Verdana;}
    .electionadvert td {padding:0;background:white;}
    .electionadvert {text-align:left;}
    .electionadvert strong {color:e1b823;font-weight:bold;}
    .electionadvertright {text-align:right;}
    .electionadvertright a {color:37a44a;font-weight:bolder;background:transparent;text-decoration:none;font-size:14px;}
    .electionadvertright a:hover {background:transparent}
/* For showing HTML source, such a Policy syndication box */
PRE.htmlsource
{
	border: solid 1px #4d6c25;
	margin: 0 18px 1em;
	height: 15em;
	overflow: scroll;
}
/* For diffs in wiki */
.diffchange
{
    BACKGROUND: #cccccc;
    COLOR: #000000;
}
.diffold
{
    TEXT-DECORATION: line-through;
}
.diffnew
{
    BACKGROUND: #77ee77;
    COLOR: #000000;
}

/* Space so that when going to # links it scrolls to top of screen */
.paddingforanchors
{
    margin-bottom: 40em;
}
/* Used in before and after motion text examples in project/research.php */
TABLE TD.oddcol
{
    BACKGROUND-COLOR: #77ee77
}
TABLE TD.evencol
{
    BACKGROUND-COLOR: #77da77
}

.motionguidelines LI {
    MARGIN-BOTTOM: 1em;
}
LI {
    MARGIN-TOP: 0.2em;
}
/* Box for changing a vote of a policy, on division page */
.policyvote
{
    BACKGROUND-COLOR: #eeffee;
    padding: 0 0.5em 0 0.5em;
    text-align: right;
    width: 75%;
    margin-left: 20%;
}
.policytext
{
    FONT-WEIGHT: bold;
    COLOR: #00CC00;
}
.histoimg {
    border: 1px solid black;
    padding: 1em;
}
.motion, .whatisflash
{
    BACKGROUND-COLOR: #eeeeee;
   /* BACKGROUND-COLOR: #cefeff;
    margin-left:2em;
    margin-right:2em;
    margin-top:1em;
    margin-bottom:1em;
    padding: 5px; 
    border-style: dashed;
    border-width: thin; */
}
.policyvotehead
{
 /*   border-style: dashed; 
    border-width: thin;  */
}
.equation {vertical-align: middle;}

.fraction {
float: left;
text-align: center;
}
.numerator {
 display: inline;
}
.denominator {
display: inline;
}

.equals{ padding-top: .5em;float:left;
 }

.equation .break {clear: both}
.divider {
width: 100%;
padding: 0;
margin: 2px 0;
 border: none; border-bottom: 1px solid black;

}


table.rvotes
{
    padding:0px;
    FONT-FAMILY: "xTimes New Roman", xVerdana, Arial, xHelvetica, sans-serif;
    font-size:6pt;
    border-collapse:separate;
    border-spacing:0px;
    white-space:nowrap;
}
table.rvotes a
{
    text-decoration:none;
    color:inherit;
    float:right;
    width:100%;
}

table.rvotes tr
{
    background-color:#eeeeee;
    margin:0;
}
table.rvotes td
{
    width:10%;
    padding: 0;
    border: 0 #cccccc solid;
    border-left-width: 3px;
}
table.rvotes a:hover
{
    background-color:yellow;
}

table.rvotes td.spp
{
}

table.rvotes td.favour, p.votekey span.favour
{
    zcolor:#ff0000;
    background-color: #d0ffd0;
}
table.rvotes td.against, p.votekey span.against
{
    zcolor:#009900;
    background-color: #9fbbdf;
}
table.rvotes td.absent, p.votekey span.absent
{
    zcolor:#555555;
    background-color: gray;
}
table.rvotes td.both, p.votekey span.both
{
    background-color:#eeeebb;
}

table.rvotes td.Con
{
    zbackground-color: #ddddff;
    border-color:  blue;
    zborder-left-width: 3px;
}
table.rvotes td.Lab
{
    zbackground-color: #ffe4e4;
    border-color: red;
}
table.rvotes td.LDem
{
    zbackground-color: #ffffbb;
    border-color: yellow;
}
table.rvotes td.PC, table.rvotes td.SNP
{
    border-color: green;
}
table.rvotes td.DU, table.rvotes td.UU, table.rvotes td.SDLP, table.rvotes td.Bp
{
    border-color: purple;
}
table.rvotes td.partytype, table.rvotes td.partytype2
{
    text-align: center;
    background-color: #66ff88;
    font-weight: bold;
}
table.rvotes td.partytype
{
    border-top-width:2px;
}

table.rvotes td.topborder
{
    border-top-width: 2px;
}
table.rvotes td.bottomborder
{
    border-bottom-width: 2px;
}
table.rvotes td.rightborder
{
    border-right-width: 2px;
}
table.rvotes td.minister, p.votekey span.minister
{
    zfont-weight: bold;
    zfont-style: italic;
    text-decoration: underline;
}
table.rvotes td.PPS, p.votekey span.pps
{
    font-style: italic;
    text-decoration: underline;
}
table.rvotes td.teller
{
    text-align: right;
}

table.rvotes td.dist1
    { background-color: #f0fff0; }
table.rvotes td.dist2
    { background-color: #d0e0d0; }
table.rvotes td.dist3
    { background-color: #c8d0c8; }
table.rvotes td.dist4
    { background-color: #c0c0d0; }
table.rvotes td.dist5
    { background-color: #b8c0d8; }
table.rvotes td.dist6
    { background-color: #b0a0d0; }
table.rvotes td.dist7
    { background-color: #a8b8c8; }
table.rvotes td.dist8
    { background-color: #98b0c0; }
table.rvotes td.dist9
    { background-color: #90a0a0; }



