/*A:link, A:active, A:visited
{
    COLOR: #009900;
}*/
H1
{
    COLOR: #340900;
}
H2
{
    COLOR: #340900;
}
H3
{
    COLOR: #340900;
}
HR
{
    COLOR: #340900;
    BACKGROUND-COLOR: #340900
}
.container
{
    BORDER: #340900 1px solid;
}
.identity
{
    BACKGROUND-COLOR: #340900;
}
.searchtitlebar
{
    BACKGROUND-COLOR: #340900;
}
.searchtitlebarform
{
    BACKGROUND-COLOR: #340900;
}
.headers TD
{
    BORDER-BOTTOM: #340900 1px solid
}
.secondheaders TD
{
    BORDER-BOTTOM: #340900 1px solid
}
