-# TODO: Add link to shop
-# TODO: Use correct colours
-# TODO: Make banner dismissable
-# TODO: Use correct alignment
-# TODO: Style link hover
-# TODO: Make buy experience work without leaving the site
-# TODO: Update temporary copy
= link_to "https://swag.theyvoteforyou.org.au/products/short-sleeve-t-shirt" do
  .swag
    = image_tag "tshirt"
    OMG we got T shirts! Limited run!
    %strong Buy now!
