-# TODO: Make buy experience work without leaving the site
- unless cookies[:tvfy_swag] == "false"
  = link_to "https://swag.theyvoteforyou.org.au/products/short-sleeve-t-shirt" do
    .swag.alert.fade.in
      %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button"}
        %span{"aria-hidden": "true"} ×
      = image_tag "tshirt.svg"
      .swag-text
        Because nothing says "I care about being informed" like a killer t-shirt.
        %strong Get it now!

