.welcome {
  text-align: center;

  .subscriptions-list-intro {
    @media (max-width: $screen-md-max) {
      text-align: left;
    }
  }

  .subscriptions-list {
    text-align: left;

    @media (min-width: $screen-sm-min) {
      margin-top: 30px;
    }
  }
}

.welcome-intro {
  text-align: center;

  @media (min-width: $screen-xs-min) {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-md-min) {
    margin-top: 60px;
  }
}

.staff.label {
  padding-top: 0.5em;
}
