%p
  Normally a person's votes count towards a score which is used to work out a simple
  phrase to summarise their position on a policy. However in this case
  = policy_person_distance.person.name
  was absent during all divisions for this policy. So, it's impossible to say anything concrete other
  than that they have "never voted" on this policy.
