%h2#divisions All Votes

%p All votes this MP could have attended.

%table.table.table-striped
  - members.each do |member|
    = render "votes", member: member, divisions: member.divisions_possible.order(division_date: :desc, clock_time: :desc, division_name: :asc), empty_message: "no votes listed"
