%h2
  %a{:name => "divisions"} All Votes
%p All votes this MP could have attended.

%table.votes
  - members.each do |member|
    - if multiple_people
      %tr
        %td(align="left" colspan="7")
          %b
            Votes by
            = link_to member.full_name_no_electorate, member_path(member)
    = render "votes", member: member, member2: nil, divisions: member.divisions_possible.order(division_date: :desc, clock_time: :desc, division_name: :asc), empty_message: "no votes listed"
