%ol.divisions-list.list-unstyled{class: active_house_for_list_class(@house)}
  - @interesting_divisions.each do |member|
    = render partial: 'divisions/division', locals: {member: member}, collection: member.interesting_divisions.order(date: :desc, clock_time: :desc, name: :asc)
