%h2#exlinks External Links

%ul
  %li
    See
    = succeed "'s" do
      %strong= member.name
    Parliamentary speeches at:
    = link_to "OpenAustralia.org", "http://www.openaustralia.org/mp/?m=#{member.id}"
