%h2#exlinks.h4 External Links

= link_to "http://www.openaustralia.org/mp/?m=#{member.id}", class: "btn btn-default" do
  See
  = succeed "’s" do
    = member.name
  Parliamentary speeches at OpenAustralia.org
