%section.page-section#free-votes
  %h2 Free votes

  %p See also #{link_to "all votes", [member, Division]}.

  %ol.divisions-list.list-unstyled{class: active_house_for_list_class(@house)}
    - member.person.members.order(entered_house: :desc).each do |member|
      = render partial: 'divisions/division', locals: {member: member}, collection: member.free_divisions.order(date: :desc, clock_time: :desc, name: :asc)
