= render "members/rebellious_divisions", member: member, house: nil, party: nil, policy: nil

- if member.person.free_votes_with_whip > 0
  = render "members/free_divisions", member: member, house: nil, party: nil, policy: nil
