%h2#divisions Interesting Votes

%p
  Votes in parliament for which this
  = member_type(member.australian_house) + "'s"
  vote differed from the majority vote of their party (Rebel).
%p
  See also #{link_to "all votes", [member, Division]}.

- member.person.members.order(entered_house: :desc).each do |member|
  - if member.has_whip?
    = render "divisions/divisions", divisions: member.interesting_divisions.order(date: :desc, clock_time: :desc, name: :asc)
