%section.page-section#interesting-votes
  %h2 Interesting Votes

  %p
    See also #{link_to "all votes", [member, Division]}.

  - member.person.members.order(entered_house: :desc).each do |member|
    - if member.has_whip?
      = render "divisions/divisions", member: member, divisions: member.interesting_divisions.order(date: :desc, clock_time: :desc, name: :asc)
