- if @interesting_divisions.flat_map { |m| m.interesting_divisions }.any?
  %section.page-section#interesting-votes
    %h2 Interesting Votes

    %p See also #{link_to "all votes", [member, Division]}.

    = render "members/divisions", member: member
