%h2#divisions Interesting Votes

%p
  Votes in parliament for which this
  = member_type(member.australian_house) + "'s"
  vote differed from the majority vote of their party (Rebel).
%p
  See also all votes...
  = link_to "attended", member_path(member, display: "allvotes", anchor: "divisions")
  |
  = link_to "possible", member_path(member, display: "everyvote", anchor: "divisions")

%table.table.table-striped
  - members.each do |member|
    = render "votes", member: member, divisions: member.interesting_divisions.order(division_date: :desc, clock_time: :desc, division_name: :asc), empty_message: "no rebellions"
