.page-header
  .media
    - if member.show_large_image?
      = link_to member, class: "pull-left" do
        = image_tag(member.large_image_url, alt: "Photo of #{member.name_without_title}", size: "88x115", class: "media-object")
    .media-body
      %h1.media-heading
        = member.name_without_title
