%h2#dreammotions Policy Comparisons

%p
  This chart shows the percentage agreement between this
  = person_type(member.person)
  and each of the policies in the database, according to their voting record.
%table.table
  %thead
    %tr.headings
      %th Agreement
      %th Policy
  %tbody
    - if member.person.policy_person_distances.empty?
      %tr
        %td{colspan: 2}
          No policies match this person's votes. You can
          = link_to "edit or make a policy", policies_path
          that will appear here.
    - else
      - member.person.policy_person_distances.joins(:policy).order("policies.name").each do |policy_member_distance|
        %tr
          %td
            %b= link_to fraction_to_percentage_display(member.person.agreement_fraction_with_policy(policy_member_distance.policy)), member_policy_path2(member, policy_member_distance.policy)
          %td
            For
            = link_to policy_member_distance.policy.name, policy_member_distance.policy
