- unless distances.empty?
  .policy-comparision-block.col-md-7{class: "position-#{title.parameterize}"}
    %h3.policy-comparision-position= title
    %ul.policy-comparision-list.object-list-compact.list-unstyled
      - distances.sort_by{ |ppd| ppd.policy.name.downcase }.each do |ppd|
        %li.policy-comparision-policy.object-item
          = link_to capitalise_initial_character(ppd.policy.name), [member, ppd.policy], class: 'policy-title'
    =link_to "Something not right?", help_faq_path(anchor: 'stance'), title: "Is this information inaccurate? Find out how you can improve it.", class: 'policy-correction-notice small'
