- if Flipper.enabled?(:people_distances, current_user)
  = render "possible_friends_people_distances", member: member, all_friends: all_friends
- else
  = render "possible_friends_member_distances", member: member, all_friends: all_friends
