%h2#divisions Recent Votes

%p
  Recent votes in parliament that this
  = member_type(member.australian_house)
  could have attended.
%p
  See also #{link_to "all votes", [member, Division]}.

%table.table
  - member.person.members.order(entered_house: :desc).each do |member|
    = render "members/votes", member: member, divisions: member.divisions_possible.order(date: :desc, clock_time: :desc, name: :asc).limit(5), empty_message: "no votes listed"
