%section.page-section#interesting-votes
  %h2 Recent Votes

  %p
    Recent votes in parliament that this
    = member_type(member.house)
    could have attended.
  %p
    See also #{link_to "all votes", [member, Division]}.

  - member.person.members.order(entered_house: :desc).each do |member|
    = render "divisions/divisions", member: member, divisions: member.divisions_possible.order(date: :desc, clock_time: :desc, name: :asc).limit(5)
