%h2#divisions Recent Votes

%p
  Recent votes in parliament that this
  = member_type(member.australian_house)
  could have attended.
%p
  See also #{link_to "all votes", [member, Division]}.

- member.person.members.order(entered_house: :desc).each do |member|
  = render "divisions/divisions", divisions: member.divisions_possible.order(date: :desc, clock_time: :desc, name: :asc).limit(5)
