%h2#divisions Votes Attended

%p
  See also
  = link_to "all votes possible", member_path(member, display: "everyvote", anchor: "divisions")

%table.table.table-striped
  - members.each do |member|
    = render "votes", member: member, divisions: member.divisions.order(date: :desc, clock_time: :desc, name: :asc), empty_message: "no votes listed"
