- content_for :title do
  Compare
  = @member.name
  with someone else
- set_meta_tags description: "See how #{@member.name} voted compared with other people"

= render "member_page_header", member: @member
= render "possible_friends", person: @member.person, all_friends: true
