- content_for :title, "Representative or Senator not found"
%h1= yield :title

No Representative or Senator found. If you entered a postcode, please make
sure it is correct.  Or you can
= link_to "browse All Representatives", members_path(house: "representatives")
or #{link_to "browse all Senators", members_path(house: "senate")}.
