%p
  To select votes for this policy,
  = link_to "search", search_path
  or
  = link_to "browse", divisions_path
  for divisions. On the page for each division you can choose how somebody
  supporting this policy would have voted. If you haven't edited a policy
  before please #{link_to "read about how policies work", help_faq_path(anchor: "policies")}.
