- if policy.provisional?
  .row.alert.alert-danger{role: "alert"}
    %span.fi-alert
    %strong Warning!
    Don't share this. It's a
    %strong draft
    which means someone is still working on it and
    it may be
    %strong wildly innaccurate
