%section.page-section#ratioexpl
  %h2
    How
    "#{policy_agreement_summary(policy_person_distance)}"
    is worked out

  - if policy_person_distance.category == :not_enough
    = render "policies/how_the_number_is_calculated/not_enough", policy_person_distance: policy_person_distance
  - else
    = render "policies/how_the_number_is_calculated/other", policy_person_distance: policy_person_distance
