#secondnavtabs
  %ul.nav.nav-tabs
    = nav_link_unless_current("Selected votes", policy_path(policy), "Overview of the policy")
    = nav_link_unless_current("Details of votes", detail_policy_path(policy), "Also shows description of every vote")
    = nav_link_unless_current("Edit", edit_policy_path(policy), "Change title and definition of policy")
