#secondnavtabs
  %ul.nav.nav-tabs
    = nav_link("Selected votes", policy_path2(policy, display: nil), "Overview of the policy", display.nil?)
    = nav_link("Details of votes", policy_path2(policy, display: "motions"), "Also shows description of every vote", display == "motions")
    = nav_link("Edit", policy_path2(policy, display: "editdefinition"), "Change title and definition of policy", display == "editdefinition")
