.row.alert.alert-warning{role: "alert"}
  %span.fi-flag
  %strong
    Be careful!
  Without a magic crystal ball, there’s no way to predict with absolute certainty what representatives will do in future, no matter what they promise you now or how they voted in the past.
  Nonetheless, exploring how they voted before can help you decide who to support in an election.
