- unless distances.empty?
  .policy-comparision-block
    %h3= title
    %ul.policy-comparision-list.list-unstyled
      - distances.each do |ppd|
        %li.policy-comparision-item
          = link_to ppd.person.member_for_policy(policy).name, ppd.person.member_for_policy(policy), class: 'policy-comparision-member'
