%ul.list-unstyled
  - policies.each do |policy|
    %li
      %h2
        For
        = link_to policy.name, policy
        %small
          = pluralize(policy.divisions.count, "division")
          - if policy.unedited_motions_count != 0
            %em= "(#{policy.unedited_motions_count} unedited)"
