- divisions = policy.divisions.order(date: :desc, clock_time: :desc, name: :asc, number: :desc)
- divisions = divisions.select{ |d| person.could_have_voted_in_division?(d) } if person
= render "policies/vote_summary_table2", person: person, policy: policy, divisions: divisions
