- content_for :title, 'Make a new policy'

%h1= yield :title

%p
  Successfully made new policy #{link_to @policy.name, policy_path2(@policy)}.
  To select votes for your
  new policy,
  = link_to "search", search_path
  or
  = link_to "browse", divisions_path
  for divisions. On the page for each
  division you can choose how somebody supporting your policy would
  have voted.
