- content_for :title, "Policy: \"#{@policy.name}\""

.page-header
  %h1= yield :title

= render "nav", policy: @policy, display: "motions"

= render 'detailed_votes', member: @member, policy: @policy
