- content_for :title, @policy.name

.page-header
  %h1= yield :title

  =link_to "Make a new policy", new_policy_path, :class => "btn btn-link"

= render "nav", policy: @policy, display: "motions"

= render 'detailed_votes', member: @member, policy: @policy
